.faded-title {
    font-size: 8rem;
    font-weight: 700;
    color: #BDDDFF55;
}

.teacher-cards {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 50px;
}

.header-container {
    margin-bottom: 58px;
    max-width: 500px;
    display: inline-block;
}

.title {
    margin-bottom: 12px;
}

.text {
    margin-bottom: 50px;
}

.save-button {
    padding: 0 !important;
    width: 100%;
    font-size: 1rem !important;
    height: 45px;
    max-width: 250px;
}

.teacher-form {
    margin-bottom: 50px;
}

.btn {
    font-size: 1.25rem;
    padding: 16px 25px;
    font-weight: 800;
}

.btns-container {
    width: 100%;
    max-width: 550px;
    margin-bottom: 2rem;
    display: inline-block;
}

.btn-bottom-menu {
    width: 50%;
    max-width: 250px;
}

.form {
    margin-bottom: 74px;
    width: 100%;
    max-width: 380px;
}

.link {
    font-size: 1.25rem;
    font-weight: 800;
    color: #1081FB;
    margin-bottom: 74px;
}
