<section class="content" *ngIf="user != null">
  <div class="row">
    <div class="col-8">
      <div class="display-4">
        Perfil
        <!-- <span *ngIf="user.customerId != null"><small class="text-muted">(Conectado con Conekta)</small></span> -->
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-end">
      <i class="zmdi zmdi-card zmdi-hc-4x float-right cP" *ngIf="user.customerId != null" data-toggle="tooltip" data-placement="bottom" title="Agregar Tarjeta" (click)="openModal(addCard,$event)"></i>
    </div>
  </div>

  <div class="row" *ngIf="user != null">
    <div class="col-lg-3 col-md-5 col-sm-7 pl-0">
      <div class="card ml-3">
        <div class="card-img">
  
          <template-profile-image-editor style="top: 10px; right:15px; position:absolute"></template-profile-image-editor>
          <img class="card-img-top" src="{{api.baseURL+user?.profileImage?.URL}}" onerror="this.src='assets/fondo/user.png'"
            alt="Card image cap">
        </div>
  
        <div class="card-body">
          <div class="form-group row mb-2">
            <p> Nombre de usuario:
              <strong> {{user?.username}}</strong>
            </p>
          </div>
  
          <div class="form-group row mb-2">
            <p>Nombre completo:
              <strong> {{user?.name}}</strong>
            </p>
          </div>
  
          <div class="form-group row mb-2">
            <p>Correo:
              <strong> {{user?.email}}</strong>
            </p>
          </div>
  
          <div class="form-group row mb-2" *ngIf="user.customerId != null && cards.length > 0">
            <p class="w-100">Tarjetas en conekta:</p>
            <span class="w-100" *ngFor="let c of cards">
              <p>
                **** **** **** {{c?.last4}} {{c?.brand}} <strong>{{c?.exp_month}}/{{c?.exp_year}}</strong>
                <span *ngIf="c.default"> Default</span>
                <i class="zmdi zmdi-close color-red ml-2 cP" data-toggle="tooltip" data-placement="bottom" title="Eliminar Tarjeta" (click)="deleteCard(c)"></i>
              </p>
            </span>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="openModal(buyMod,$event)">ClickMePLS</button>
</section>

<ng-template #addCard>
  <app-add-card [user]="user" (close)="closeModal()"></app-add-card>
</ng-template>

<ng-template #buyMod>
    <app-buy-modal [user]="user" [listProducts]="listProducts" (close)="closeModal()" (addCardChange)="checkAddCardInModal($event)"></app-buy-modal>
  </ng-template>