<section class="content" *ngIf="user != null">
  <div class="row">
    <div class="col-8">
      <div class="display-4">
        Perfil
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary float-right align-self-center mr-4" (click)="asignedMeConekta()">Conekta</button>
      <i class="zmdi zmdi-card zmdi-hc-4x float-right cickleable" data-toggle="tooltip" data-placement="bottom" title="Agregar Tarjeta" (click)="openModal(addCard,$event)"></i>
    </div>
  </div>

  <div class="row" *ngIf="user != null">
    <div class="card profile-card">
      <div class="card-img">

        <template-profile-image-editor style="top: 10px; right:15px; position:absolute"></template-profile-image-editor>
        <img class="card-img-top" src="{{api.baseURL+user?.profileImage?.URL}}" onerror="this.src='assets/fondo/user.png'"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <div class="form-group row">
          <p> Nombre de usuario:
            <strong> {{user?.username}}</strong>
          </p>

        </div>

        <div class="form-group row">
          <p>Nombre completo:
            <strong> {{user?.name}}</strong>
          </p>

        </div>

        <div class="form-group row">
          <p>Correo:
            <strong> {{user?.email}}</strong>
          </p>
        </div>

      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="pruebaOrder()">ClickMePLS</button>
</section>

<ng-template #addCard>
  <app-add-card [user]="user"></app-add-card>
</ng-template>