<div class="loginBack">
  <div class="row justify-content-center segment title">
    <div class="col-auto">
      <!-- <div class="title colorPrincipal">JarabeSoft</div> -->
      <img class="logo-img" src="assets/img/logo.png" alt="">
      <div class="lema">Jarabe Template</div>


    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-4">
        <div class="circular segment">
          <h2 class="m-4">Inicia sesion</h2>
          <form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm">
            <label class="colorPrincipal">Correo electrónico</label>
            <div class="form-group">
              <!-- Validaciones del campo del correo -->
              <input class="form-control text-center" type="email" id="email" placeholder="ejemplo@email.com" name="email"
                ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
              <!-- Mensajes de las validaciones -->
              <div *ngIf="email.touched && email.dirty">
                <div *ngIf="email.errors?.required" class="form-control-feedback text-center">"Este campo es
                  obligatorio"</div>
                <div *ngIf="email.errors?.pattern" class="form-control-feedback text-center">"No cumple con los
                  caracteres"</div>
              </div>
            </div>
            <label class="colorPrincipal">Contraseña</label>
            <div class="form-group">
              <!-- Validaciones del campo de la contraseña -->
              <input class="form-control text-center" type="password" placeholder="Contraseña" name="password" required
                ngModel #password="ngModel">
              <!-- Mensaje de las validaciones -->
             
             <div *ngIf="password.touched && password.dirty">
               <div *ngIf="password.errors?.required" class="form-control-feedback text-center">"Campo obligatorio"</div>
              </div> 
            </div>
            <br>
            <button *ngIf="!procesando" [disabled]="loginForm.email==''|| loginForm.password==''" class="btn colorPrincipal fondo"
              type="submit">
              CONTINUAR</button>
            <!-- <button  class="btn btn-primary" type="submit"  [disabled]="loginForm.email==''||loginForm.password==''">Continuar</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
