.card {
    padding: 1rem 4rem;
    border: 2px solid #2ED2A3;
    border-radius: 12px;
    color: #758CA6;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 508px;
    margin-bottom: 0;
}
.card-body {
    padding: 0;
}

.text-row {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;

    .img-container {
        height: min-content;
        width: 40px;
        text-align: left;

        img {
            width: max-content;
            height: max-content;
        }
    }
}

.delete {
    font-size: 2rem;
    position: absolute;
    top: -10px;
    right: 8px;
    color: var(--danger);
}
