<ion-app>
  <ion-menu type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>JarabeSoft</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list >
        <ion-item *ngIf="user!=null" (click)="goToUrl('/profile');" > 
          <ion-avatar slot="start">
            <img src="{{prepareURL(user?.profileImage,'avatar')}}" onerror="this.src='assets/img/avatar.jpg'">
          </ion-avatar>
          <ion-label>
            <h2>{{user.name}}</h2> 
            <h3>{{user.username}}</h3> 
            <p>{{user.phone}}</p> 
            <p>{{user.email}}</p> 
          </ion-label>
        </ion-item>

        <ng-container  *ngFor="let item of menuItemsUser">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="goToUrl(item.url,item.navigateType)">
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label>
                {{item.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
