<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngIf="loggedUser!=null" (click)="goToUrl('/profile');"> 
            <ion-avatar slot="start">
              <img src="{{loggedUser.imgperfil}}" onerror="this.src='assets/img/avatar.jpg'">
            </ion-avatar>
            <ion-label>
              <h2>{{loggedUser.name}}</h2> 
              <h3>{{loggedUser.username}}</h3> 
              <p>{{loggedUser.phone}}</p> 
              <p>{{loggedUser.email}}</p> 
            </ion-label>
          </ion-item>

          <ng-container *ngIf="loggedUser!=null && loggedUser.role.id == 1">
            <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItemsUser">
              <ion-item [routerDirection]="'root'" [routerLink]="[item.url]">
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                <ion-label>
                  {{item.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
          <ng-container *ngIf="loggedUser!=null && loggedUser.role.id == 2">
            <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItemsAdmin">
              <ion-item [routerDirection]="'root'" [routerLink]="[item.url]">
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                <ion-label>
                  {{item.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
          <ng-container *ngIf="loggedUser!=null && loggedUser.role.id == 3">
            <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItemsSuperUser">
              <ion-item [routerDirection]="'root'" [routerLink]="[item.url]">
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                <ion-label>
                  {{item.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
