<div class="breadcrumbs" *ngIf="!!crumbs?.length">
    <div>
        <img class="clickeable" src="assets/icons/back-arrow.png" alt="back" (click)="GoBack()">
    </div>
    <span class="first-breadcrumb font-size-3 {{theme}}" [ngClass]="{'clickeable': !!crumbs[0].route}" (click)="GoTo(crumbs[0].route)">{{crumbs[0].name}}</span>
    <ng-container *ngFor="let crumb of crumbs; let f = first">
        <ng-container *ngIf="!f">
            <img src="assets/icons/right-chevron.svg">
            <span [ngClass]="{'clickeable': !!crumb.route}" (click)="GoTo(crumb.route)">{{crumb.name}}</span>
        </ng-container>
    </ng-container>
</div>
