.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: Mulish;
    color: var(--gray-1, #3D5E81);
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    
    span.first-breadcrumb {
        color: var(--green-1, #26D7A4);
        font-size: 32px;
    }
}