<h4 *ngIf="listProducts == null" class="ion-text-center"> No hay productos en la lista</h4>

  <ion-row *ngIf="listProducts != null && selectedCard != -1">
    <ion-col>
        <ion-label><h2 class="ion-text-center">Producto/s</h2></ion-label>
        <ion-list>
          <ion-item *ngFor="let p of listProducts">
              <ion-avatar slot="start">
                <img [src]="p.img">
              </ion-avatar>
              <ion-label>
                <h2>{{p?.name}}</h2>
                <h3>Cantidad: {{p?.quantity}}</h3>
                <p>{{(p?.price) | currency}}</p>
              </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start"></ion-avatar>
            <ion-label>
              <h2>Total: {{getTotal() | currency}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="listProducts != null && selectedCard != -1">
      <ion-col>
        <ion-label><h2 class="ion-text-center">Tarjetas</h2></ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedCard" (ngModelChange)="changValueAddCard($event)">
          <ion-select-option *ngFor="let c of cards" [value]="c.id">{{c?.brand | titlecase}} **** {{c?.last4}}</ion-select-option>
          <ion-select-option [value]="-1">Agregar Tarjeta</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="selectedCard != -1 && listProducts != null">
      <hr>
      <ion-row>
        <ion-col>
          <ion-label><h2 class="ion-text-center">Metodo de pago</h2></ion-label>
          <ion-select interface="popover" [(ngModel)]="numMeses">
            <ion-select-option [value]="1">Un solo pago</ion-select-option>
            <ion-select-option [value]="3">3 Meses</ion-select-option>
            <ion-select-option [value]="6">6 Meses</ion-select-option>
            <ion-select-option [value]="9">9 Meses</ion-select-option>
            <ion-select-option [value]="12">12 Meses</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
            <ion-button expand="block" type="button" class="ion-no-margin" type="button" class="btn btn-primary float-left" (click)="buy()"> Comprar </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  
