<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <img  class="user__img" style="object-fit: cover" *ngIf="user.profileImage!=null" src="{{user.profileImage.URL | jarabeImage:'avatar':api}}" alt="Profile image">
                <img *ngIf="user.profileImage==null" class="user__img" style="object-fit: cover" src="assets/fondo/user.png" alt=""> 
                <div>
                    <div class="user__name">{{user.username}}</div>
                    <div class="user__email">{{user.email}}</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="GoTo('/inicio/perfil')">Ver perfil</a>
                <a class="dropdown-item" (click)="cerrarSession()" href="">Cerrar sesión</a>
            </div>
        </div>
        <!--USERS-->
        <ul class="navigation" *ngIf="user.role.name=='User'">
            <li routerLinkActive="navigation__active" *ngFor="let link of userPages">
            <a (click)="GoTo(link.action)"><i class="zmdi zmdi-home"></i> {{link.name}}</a></li>
        </ul>
        <!--ADMIN-->
        <ul class="navigation" *ngIf="user.role.name=='Admin'">
            <li routerLinkActive="navigation__active" *ngFor="let link of adminPages">
            <a (click)="GoTo(link.action)"><i class="zmdi zmdi-home"></i> {{link.name}}</a></li>
        </ul>
        <!-- SUPERUSER-->
        <ul class="navigation" *ngIf="user.role.name=='SuperUser'">
                <li routerLinkActive="navigation__active" *ngFor="let link of  superUserPages">
                <a (click)="GoTo(link.action)"><i class="{{link.icon}}"></i> {{link.name}}</a></li>
            </ul>

    </perfect-scrollbar>
</aside>