<aside class="sidebar" [class.toggled]="sidebarVisible">
    <div class="sidebar-content h-100" style="overflow-y: auto;">
        <div class="user-data">
            <img src="assets/icons/account_circle.svg" width="24">
            
            <div class="d-flex flex-column align-items-start">
                <div class="username">{{user.username}}</div>
                <div class="text">{{user.data.workTitle}}</div>
                <div class="text">{{user.data.schoolName}}</div>
            </div>
            
            <div class="my-data clickeable" (click)="GoToProfile()">
                <img src="assets/icons/badge.svg" width="24">
                <div class="text-2">Mis datos</div>
            </div>
        </div>

        <div class="nav-items flex-grow-1 w-100">
            <div class="item clickeable w-100" *ngFor="let link of activeUserPages" (click)="GoToRoute(link.action)">
                <img *ngIf="!!link.iconImg" width="24" height="24" src="{{'assets/icons/' + link.iconImg}}">
                <i *ngIf="!link.iconImg" [class]="link.icon"></i>
                {{link.name}}
            </div>
            <div class="item clickeable w-100 mt-auto" (click)="LogOut()">
                <img width="24" height="24" src="assets/icons/close-circle.svg">
                Cerrar sesión
            </div>
        </div>
    </div>
</aside>
