<div class="content">

    <div class="row mb-5">
        <div class="col-12 d-flex h-100 align-items-center justify-content-between header-col">
            <div class="page-title">
                Mis estudiantes
            </div>

            <div class="input-container">
                <div class="input-icon-container text-center">
                    <img src="assets/icons/search.png">
                </div>
                <input class="form-control" type="text" placeholder="Buscar" (keyup.enter)="SearchStudent()">
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-12 col-md-4 col-lg-3 col-xl-2 side-col">
            <img class="side-image" src="assets/img/landing_page_img.png">
            <div class="nearby-container" *ngIf="!user?.schoolUserId">
                <button class="btn btn-success btn-block" (click)="registerSchoolModal.show()">
                    Registrar escuela
                </button>
            </div>
            <div class="nearby-container">
                <div class="container-title">
                    Eventos próximos
                </div>
                <div class="event-row">
                    <div class="event-name">
                        Entrega de boletas
                    </div>
                    <div class="event-group">
                        5°A
                    </div>
                </div>
                <div class="event-row">
                    <div class="event-name">
                        Reunion de padres de familia
                    </div>
                    <div class="event-group">
                        3°A
                    </div>
                </div>
                <div class="event-row">
                    <div class="event-name">
                        Fiesta fin de curso
                    </div>
                    <div class="event-group">
                        4°B
                    </div>
                </div>
            </div>
            <div class="nearby-container">
                <div class="container-title">
                    Proximas entregas
                </div>
                <div class="date-row">
                    12/03/22
                </div>
                <div class="date-row">
                    12/03/22
                </div>
                <div class="date-row highlight">
                    21/01/22
                </div>
            </div>
            <div class="nearby-container">
                <div class="container-title">
                    Mis asignaturas
                </div>
                <div class="date-row" *ngFor="let subject of teacherSubjects">
                    {{subject.name}}
                </div>
            </div>
            <div class="nearby-container">
                <div class="container-title">
                    Mis grupos
                </div>
                <div class="date-row text-uppercase" *ngFor="let teacherGroup of teacherGroups">
                    {{teacherGroup.grade.name + teacherGroup.group.name}}
                </div>
            </div>
        </div> -->
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-end" *ngIf="!user?.schoolUserId">
                <button class="btn btn-success" (click)="nav.GoToUserRoute('registrar-estudiantes/csv')">
                    Agregar estudiantes
                </button>
            </div>
            <app-grades-groups-view *ngIf="students?.length; else noStudents" [students]="students"
            [teacherControls]="true"
            [newDashboard]="true"
            [onStudentSearch]="onStudentSearch"
            [onChange]="onChange"
            (onCreateNewStrategy)="CreateNewStrategy($event)"
            (onReload)="GetTeacherStudents()"
            ></app-grades-groups-view>
        </div>
    </div>
</div>

<ng-template #noStudents>
    <div class="text-center no-items-message" *ngIf="!!user.schoolUserId; else addStudents">
        No tiene estudiantes asignados, para más informacion contactar a su administrador
    </div>
</ng-template>

<ng-template #addStudents>
    <div class="text-center no-items-message">
        No tiene estudiantes registrados
    </div>
</ng-template>

<div class="modal fade" bsModal #registerSchoolModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
    tabindex="-1" role="dialog" aria-labelledby="registerSchoolModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text text-center">
                    Envia este link al administrador de tu escuela para que pueda registrarse en nuestra plataforma
                </div>
                <div class="text-center my-3">
                    <img src="assets/img/teacher-celebrating.png" alt="finished">
                </div>
                <div class="text d-flex align-items-center justify-content-center">
                    <a class="mr-3" href="{{schoolRegisterLink}}">{{schoolRegisterLink}}</a>
                    <i class="zmdi zmdi-copy zmdi-hc-lg clickeable text-success" (click)="CopyLinkToClipBoard()"></i>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-primary modal-btn"
                (click)="CopyLinkToClipBoard(); registerSchoolModal.hide();">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>
