.back-icon {
    margin-right: 4rem;
}

.title {
    color: #587594;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.subtitle {
    color: #587594;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .75rem;
}

.text {
    font-size: 1.25rem;
    color: #587594;
}
