#Ionic Ignore
mobile/*~
mobile/*.sw[mnpcod]
mobile/*.log
mobile/*.tmp
mobile/*.tmp.*
mobile/log.txt
mobile/*.sublime-project
mobile/*.sublime-workspace
mobile/.vscode/
mobile/npm-debug.log*
mobile/.idea/
mobile/.sourcemaps/
mobile/.sass-cache/
mobile/.tmp/
mobile/.versions/
mobile/coverage/
mobile/dist/
mobile/node_modules/
mobile/tmp/
mobile/temp/
mobile/hooks/
mobile/platforms/
mobile/plugins/
mobile/plugins/android.json
mobile/plugins/ios.json
mobile/www/

#Loopback Ignore
loopback/*.csv
loopback/*.dat
loopback/*.iml
loopback/*.log
loopback/*.out
loopback/*.pid
loopback/*.seed
loopback/*.sublime-*
loopback/*.swo
loopback/*.swp
loopback/*.tgz
loopback/*.xml
loopback/.DS_Store
loopback/.idea
loopback/.project
loopback/.strong-pm
loopback/coverage
loopback/node_modules
loopback/npm-debug.log
loopback/server/storage/*

#Angular Ignore
web/node_modules/
web/dist/
\.vscode/

# persistance Ignore
persistence/mysql_db/
persistence/loopback_storage/

# Local DB ignore
mysql/local_db

imgStock