#Ionic Ignore
mobile/template/*~
mobile/template/*.sw[mnpcod]
mobile/template/*.log
mobile/template/*.tmp
mobile/template/*.tmp.*
mobile/template/log.txt
mobile/template/*.sublime-project
mobile/template/*.sublime-workspace
mobile/template/.vscode/
mobile/template/npm-debug.log*
mobile/template/.idea/
mobile/template/.sourcemaps/
mobile/template/.sass-cache/
mobile/template/.tmp/
mobile/template/.versions/
mobile/template/coverage/
mobile/template/dist/
mobile/template/node_modules/
mobile/template/tmp/
mobile/template/temp/
mobile/template/hooks/
mobile/template/platforms/
mobile/template/plugins/
mobile/template/plugins/android.json
mobile/template/plugins/ios.json
mobile/template/www/

#Angular Ignore
web/angular524/node_modules/
web/angular524/dist/