.welcome-screen {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    img {
        max-width: 60%;
    }
    h3 {
        color: var(--ion-color-primary-contrast);
    }
}

.login-card {
  
    ion-button {
        width: 100%;
    }
    template-social-media-login-buttons {
        margin-top: 10vh;
    }
    .register-label {
        color: var(--ion-color-dark);
        font-weight: 500;
        text-align: center;
    }
    .password-recover-label {
        color: var(--ion-color-primary-shade);
        font-weight: 500;
        text-align: center;
    }
}