<ion-content class="background-gradient-primary">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center ion-no-padding">
          <ion-col size="12" size-md="8" size-lg="6">
    <div class="welcome-screen">
        <h3 *ngIf="environment.production && !environment.staging">JarabeTemplate</h3>
        <h3 *ngIf="!environment.production && environment.staging">JarabeTemplate staging</h3>
        <h3 *ngIf="!environment.production && !environment.staging">JarabeTemplate LOCAL</h3>
        <img src="/assets/img/logo.png">
    </div>

    <ion-card class="login-card">
        <ion-card-content>
            <ion-row>
                <ion-col size="12">
                    <ion-label position="floating"> {{'loginPage.emailLabel' | translate}} </ion-label>
                    <ion-input placeholder="{{'loginPage.emailPlaceholder' | translate}}" type="email" [(ngModel)]="loginAccount.email"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-label position="floating"> {{'loginPage.passwordLabel' | translate}} </ion-label>
                    <ion-input placeholder="{{'loginPage.passwordPlaceholder' | translate}}" type="password" [(ngModel)]="loginAccount.password"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-checkbox slot="start" color="secondary" [(ngModel)]="dontClose"></ion-checkbox>
                        <ion-label> {{'loginPage.keepSessionAlive' | translate}} </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-button color="primary" (click)="OnLogin()">{{'loginPage.loginButton' | translate}}</ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="ion-margin-top">
                    <div class="register-label" (click)="goToUrl('/signup');"><u> No tengo cuenta, quiero registrarme </u></div>
                </ion-col>
            </ion-row>
            <template-social-media-login-buttons (onSocialLoginStart)="OnSocialLoginStart()" (onSocialLoginSuccess)="GetUserWithAPIToken($event)" (onSocialLoginError)="OnSocialLoginError($event)"></template-social-media-login-buttons>

            <ion-row>
                <ion-col size="12">
                    <div color="secondary" class="password-recover-label" (click)="goToUrl('/password-recovery');">Olvidé mi contraseña</div>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>
</ion-col>
</ion-row>
    </ion-grid>
</ion-content>