<div class="modal-content" >
  <div class="modal-header bg-dark">
    <h4 class="modal-title text-white pull-left ">Agregar Tarjeta</h4>
    <button type="button" class="close text-white pull-right" aria-label="Close" (click)="closeModal();">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body pb-1">
    <div class="form-row form-group">
      <label>Nombre del tarjetahabiente</label>
      <input class="form-control" type="text" size="20" name="name" [(ngModel)]="data.card.name">
    </div>
    <div class="form-row form-group">
      <label>Número de tarjeta de crédito</label>
      <input class="form-control" type="text" size="20" name="number" [(ngModel)]="data.card.number">
    </div>
    <div class="form-row form-group">
      <label>CVC</label>
      <input class="form-control" type="text" size="4" name="cvc" [(ngModel)]="data.card.cvc">
    </div>
    <div class="form-row form-group">
      <p>
        <label>Fecha de expiración (MM/AAAA)</label><br>
      </p>
      <div class="row ml-3">
        <div class="col-5">
          <input class="form-control" type="text" size="2" name="exp_month" [(ngModel)]="data.card.exp_month">
        </div>
        <div class="col-1">/</div>
        <div class="col-5">
          <input class="form-control" type="text" size="4" name="exp_year" [(ngModel)]="data.card.exp_year">
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row mt-4">
      <div class="col-6">
        <button *ngIf="user != null" type="button" class="btn btn-primary float-left" (click)="createTokoenCard()" [disabled]="getStatusData()"> Agregar </button>
      </div>
    </div>
  </div>
</div>