<div class="loginBack">
  <div class="row justify-content-center segment title">
    <div class="col-auto">
      <!-- <div class="title colorPrincipal">JarabeSoft</div> -->
      <img class="logo-img" src="assets/img/logo.png" alt="">
      <div class="lema" *ngIf="environment.production && !environment.staging">Template Jarabe</div>
      <div class="lema" *ngIf="!environment.production && environment.staging">Template Jarabe STAGING</div>
      <div class="lema" *ngIf="!environment.production && !environment.staging">Template Jarabe LOCAL</div>
    </div>
  </div>

  <!-- FORMULARIO POR SI OLVIDASTE TU CONTRASEÑA-->
  <div *ngIf="passwordForgotten==true" class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="circular segment">
          <h2 class="m-4">Ingresa tu correo</h2>
          <form (ngSubmit)="SendEmail(recoverPassword.value)" #recoverPassword="ngForm">
            <label class="colorPrincipal">Correo electrónico</label>
            <div class="form-group">
              <!-- Validaciones del campo del correo -->
              <input class="form-control text-center" type="email" id="email" name="emailtoRecover" ngModel required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailtoRecover="ngModel">
              <!-- Mensajes de las validaciones -->
              <div *ngIf="emailtoRecover.invalid && (emailtoRecover.dirty || emailtoRecover.touched)"
                class="alert alert-danger">
                <div *ngIf="emailtoRecover.errors?.required" class="form-control-feedback text-center">
                  Campo obligatorio* </div>
                <div *ngIf="emailtoRecover.errors?.pattern" class="form-control-feedback text-center">
                  Correo electrónico no valido</div>
              </div>
            </div>
            <br>
            <button *ngIf="!procesandoEmail" [disabled]="!recoverPassword.valid" class="btn colorPrincipal fondo"
              type="submit">CONTINUAR</button>
          </form>

          <!--FORMULARIO INGRESAR PIN-->
          <div *ngIf="tryPin==true">
            <h4>Ingrese el PIN</h4>
            <br>
            <input type="number" [(ngModel)]="pin" name="pin">
            <br><br>
            <button (click)="TryPIN()" [disabled]="pin==''" class="btn colorPrincipal fondo">CONTINUAR</button>
            <br><br>
          </div>

          <!--FORMULARIO PARA INGRESAR LA NUEVA CONTRASEÑA-->
          <div *ngIf="changuePass==true">
            <h2 class="m-4">Ingresa tu nueva contraseña</h2>
            <input type="password" class="form-control-feedback text-center" [(ngModel)]="newPassword"
              name="newPassword">
            <br><br>
            <button (click)="SetPassword()" [disabled]="successUpdate" class="btn colorPrincipal fondo">ACEPTAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--FORMULARIO LOGIN NORMAL-->
  <div *ngIf="passwordForgotten==false" class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="circular segment">
          <h2 class="m-4">Iniciar sesión</h2>
          <form (ngSubmit)="Login(loginForm.value)" [formGroup]="loginForm">
            <label class="colorPrincipal">Correo electrónico</label>
            <div class="form-group">
              <input class="form-control text-center" type="email" id="email" placeholder="ejemplo@email.com"
                name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email">
              <app-control-messages [control]="loginForm.get('email')"></app-control-messages>
            </div>
            <label class="colorPrincipal">Contraseña</label>
            <div class="form-group">
              <input class="form-control text-center" type="password" placeholder="Contraseña" name="password" required
                formControlName="password">
              <app-control-messages [control]="loginForm.get('name')"></app-control-messages>
            </div>
            <br>
            <button *ngIf="!procesando" [disabled]="!loginForm.valid" class="btn colorPrincipal fondo" type="submit">
              CONTINUAR
            </button>
          </form>
          <br>
          <div>
            <a style="color:orange" (click)="passwordForgotten=true;">Olvidé mi contraseña</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>