<div class="files-slider-container">
    <div class="slider-arrow">
        <img src="assets/icons/arrow-long-left.png" alt="back">
    </div>
    <div class="d-flex h-100 align-items-center justify-content-between flex-grow-1">
        <div class="file-container" *ngFor="let file of files">
            <img src="assets/icons/{{GetIcon(file)}}">
            <div class="file-name">
                {{file.name}}
            </div>
        </div>
    </div>
    <div class="slider-arrow">
        <img src="assets/icons/arrow-long-right.png" alt="back">
    </div>
</div>
