hr {
  border: 1px solid rgb(226, 226, 226) !important;
  height: 0px !important;
  width: 100% !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
  margin-bottom: 10px;
  margin-top: 0;
}