<ion-header translucent>
  <ion-toolbar>
    <ion-icon name="arrow-back"></ion-icon>
    <ion-title>Formas de Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
      <app-buy *ngIf="loggedUser != null && listProducts != null" [loggedUser]="loggedUser" [listProducts]="listProducts" [(isAddCard)]="isAddCard"></app-buy>
      <h4 *ngIf="listProducts == null" class="ion-text-center"> No hay productos en la lista</h4>
    </ion-grid>
</ion-content>