<div class="container main-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Registrarse</h4>
    </div>
  </div>
</div>
<br>
<br>
    <!-- [formGroup]="form" (ngSubmit)="onSubmit()" -->
<form (ngSubmit)="createUser(createUserForm.value)" #createUserForm = "ngForm" novalidate="">
  <fieldset>
    <div class="container col-md-7 text-center">

      <div class="form-group row" [ngClass]="{ 'has-danger': (password.errors?.minlength || password.errors?.required)&& password.touched}">
        
        <label class="col-2 col-form-label">Nombre(s)</label>
          <div class="col-md-4">
            <input class="form-control text-center" type="text" placeholder="Nombre Completo"
                    id="nombres" name="nombres" required ngModel minlength="3" #nombres="ngModel">

                    <div *ngIf="nombres.errors?.required"
                          class="form-control-feedback text-center">
                                          "Este campo es obligatorio"</div>

                    <div *ngIf="nombres.errors?.minlength"
                          class="form-control-feedback text-center">
                          "Por lo menos {{ nombres.errors.minlength.requiredLength}} caracteres" </div>
          </div>

          <label class="col-2 col-form-label">Apellido(s)</label>
            <div class="col-md-4">
              <input class="form-control text-center" type="text" placeholder="Apellido Completo"
                     id="apellidos" name="apellidos" required ngModel #apellidos="ngModel">
 
                     <div *ngIf="apellidos.errors?.required"
                            class="form-control-feedback text-center">
                              "Este campo es requerido" </div>
            </div>
        </div>
<br>

      </div>
    </div>


    <div class="container col-md-7">
      <div class="form-group row">
        <label class="col-3 col-form-label"> Correo  Email</label>
        <div class="col-md-8">
          <input class="form-control text-center" type="email" placeholder="email@ejemplo.com" id="email" 
                  name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">

                  <div *ngIf="email.errors?.required"
                        class="form-control-feedback text-center">
                            "Este campo es obligatorio" </div>

                  <div *ngIf="email.errors?.pattern"
                          class="form-control-feedback text-center">
                                      "No cumple con los caracteres"</div>
        </div>
      </div>
    </div>

    <div class="container col-md-7">
      <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
          <div class="col-md-3">
            <input class="form-control text-center" type="password" placeholder="Contraseña"
                    id="password" name="password" required ngModel minlength="8" #password="ngModel">

                  <div *ngIf="password.errors?.required"
                          class="form-control-feedback text-center">
                                                  "Campo obligatorio"</div>

               <div *ngIf="password.errors?.minlength"
                          class="form-control-feedback text-center">
                          "Por lo menos {{ password.errors.minlength.requiredLength}} caracteres"</div>

          </div>
<br>
<br>

          <label class="col-3 col-form-label">Confirmar Contraseña</label>
            <div class="col-md-4">
              <input class="form-control text-center" type="password" placeholder="Confirmar Contraseña"
                      id="password2" name="password2" ngModel required minlength="8" #password2="ngModel">

                  <div *ngIf="password2.errors?.required"
                              class="form-control-feedback text-center">
                                                      "Campo obligatorio"</div>

                        <div *ngIf="password2.errors?.minlength"
                                class="form-control-feedback text-center">
                           "Por lo menos {{ password2.errors.minlength.requiredLength}} caracteres"</div>

            </div>
        </div>
      </div>

      <div class="container col-md-7">
        <div class="form-group row">
          <label class="col-2 col-form-label">Teléfono</label>
          <div class="col-md-4">
            <input class="form-control text-center" type="text" placeholder="Teléfono" 
                    id="telefono" name="telefono" ngModel required minlength="8"
                      maxlength="8" size="8" #telefono="ngModel">

                    <div *ngIf="telefono.errors?.required"
                            class="form-control-feedback text-center">
                                        "Este campo es obligatorio"</div>

                   <div *ngIf="telefono.errors?.minlength"
                          class="form-control-feedback text-center">
                          "Debe de tener {{ telefono.errors.minlength.requiredLength}} caracteres"</div>

          </div>
<br>
<br>

          <label class="col-2 col-form-label">Sexo</label>

            <div class="form-check form-check-inline" *ngFor="let s of sexos">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="sexo" [value]="s" ngModel required #sexo="ngModel">
                {{s}}
              </label>
            </div>
              
      

    </div>
  </div>

  <div class="container col-md-7">
      <div class="form-group row">
        <label class="col-3 col-form-label">Foto Perfil:</label>
        <input type="file" id="img" name="img"  ngModel #img="ngModel" (change)="onFileChange($event)" #fileInput>     <button type="button" class="btn btn-sm btn-default" (click)="clearFile()" #fileInput>Cancelar imágen</button>
      </div>
    </div>

  

  <br>
  <br>

  <div class="container col-md-5 text-center">
    <div class="form-group row">
      <div class="col-md-6"> <!-- [disabled]="!createUserForm.valid" -->
        <button type="submit" class="btn btn-outline-primary text-center" >
        Registrarse</button>             
      </div>
<br>
<br>
<br>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary text-center" [routerLink]="['/login']">
                  Salir del Registro
        </button>
      </div>
    </div>
  </div>
<br>
<br>
  </fieldset>
</form>





<!-- <div class="container col-md-7">
      <div class="form-group row">
        <label class="col-3 col-form-label">Foto Perfil:</label>
        <input type="file" id="img" name="img"  ngModel #img="ngModel" (change)="onFileChange($event)" #fileInput>     <button type="button" class="btn btn-sm btn-default" (click)="clearFile()" #fileInput>Cancelar imágen</button>
      </div>
    </div>
 -->