@import '~angular-tree-component/dist/angular-tree-component.css';
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus,
  &:active {
    outline: none !important;
  }
}

html {
  font-size: $font-size-root;
}

a, .pointer {
  cursor: pointer;
}

pre {
  background-color: $pre-bg;
  border-radius: $border-radius;
  padding: 1.5rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-sans-serif;
}

.templateFont{
  font-family: satisfy
}
.templateBlueText{
  color: #65B39D !important;

}