
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Cerrar Sección</a>
      </li>

    </ul>


  </div>
</nav>



<div class="container col-md-6 main-container">
  <div class="row">

      <h4 class="text-center col-md-10">Perfil</h4>

  </div>
</div>
<br><br>




<div class="container col-md-4">
  <div class="row">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." onerror="this.src='../../../assets/img/default_avatar.jpg'" alt="Card image cap">
      <div class="card-body">
        <p><button type="button" class="btn btn-link">Cambiar</button></p>
      </div>
    </div>

  </div>

</div>
<br>
<br>


<form>

  <div class="container col-md-4">

    <div class="form-group row">

          <label class="col-4 col-form-label">Nombre:</label>
          <label class="col-4 col-form-label">{{user.nombres}}</label>

    </div>

    <div class="form-group row">

          <label class="col-4 col-form-label">Apellidos:</label>
          <label class="col-4 col-form-label">{{user.apellidos}}</label>

    </div>


    <div class="form-group row">

          <label class="col-4 col-form-label">Correo:</label>
          <label class="col-4 col-form-label">{{user.email}}</label>

    </div>

    <div class="form-group row">

          <label class="col-4 col-form-label">Sexo:</label>
          <label class="col-4 col-form-label">{{user.sexo}}</label>

    </div>

    <div class="form-group row">

          <label class="col-4 col-form-label">Teléfono:</label>
          <label class="col-4 col-form-label">{{user.telefono}}</label>

    </div>
    
    <div class="form-group row">

          <label class="col-4 col-form-label">Contraseña:</label>

          <div class="col-md-8">
            <button type="button" class="btn btn-link"
            [routerLink]="['/cambiarContrasena']">Cambiar Contraseña</button>
          </div>
    </div>

    






  </div>
</form>
