<div class="content">
    <div class="d-flex justify-content-between flex-wrap">
        <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>

        <div class="d-flex">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-8">
            <div class="d-flex flex-column" style="gap: 24px;">
                <div class="info-card justify-content-between flex-wrap">
                    <span class="text-primary text-uppercase">{{strategy?.strategyGroup?.grade?.name}}°{{strategy?.strategyGroup?.group?.name}}</span>
                    <div class="d-flex align-items-center" style="gap: 12px;">
                        <img [src]="'assets/icons/' + strategy?.template?.icon" height="35">
                        <span class="text-primary">{{strategy?.template?.nickname}}</span>
                    </div>
                    <div class="d-flex" style="gap: 48px;color: #2369B5;">
                        <span>{{strategy?.startDate | date:"dd/MM/yyyy"}}</span>
                        <span>{{strategy?.endDate | date:"dd/MM/yyyy"}}</span>
                    </div>
                    <span class="text-success">{{strategy?.topic}}</span>
                    <div class="d-flex flex-column">
                        <div class="text-primary">Título</div>
                        <span style="font-size: 16px;">{{strategy?.title}}</span>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-icon-container icon-container-right">
                        <img src="assets/icons/search.png" alt="search">
                    </div>
                    <input class="form-control with-border icon-right" type="text" placeholder="Buscar">
                </div>
            </div>
        </div>
        <div class="col-4">
            <button class="btn btn-primary" (click)="ToggleIsByTeams()" *ngIf="!!strategy">
                <span *ngIf="strategy.isByTeams">Deshacer equipos</span>
                <span *ngIf="!strategy.isByTeams">Asignar equipos</span>
            </button>
        </div>

        <ng-container *ngIf="strategy?.isByTeams">
            <div class="col-12 mb-4" *ngFor="let team of strategy?.teams">
                <div class="team-progress-card flex-wrap flex-lg-nowrap justify-content-center">
                    <!-- Team data -->
                    <div class="team-container w-100 flex-grow-1">
                        <div class="title mb-0">{{team.name}}</div>
                        <div class="team w-100" *ngIf="!!team?.members?.length">
                            <div class="d-flex w-100" style="gap: 10px;">
                                <div class="d-flex flex-column w-50" style="gap: 10px;">
                                    <ng-container *ngFor="let member of team.members">
                                        <div class="member">
                                            <span>
                                                {{BuildStudentFullName(member.student)}}
                                            </span>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="d-flex flex-column w-50" style="gap: 10px;">
                                    <ng-container *ngFor="let member of team.members">
                                        <div class="member">
                                            <span>
                                                {{member.role?.name}}
                                            </span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team evaluations -->
                    <div class="d-flex align-items-start justify-content-center justify-content-lg-start overflow-auto" style="gap: 14px;">
                        <div class="evaluation-col" *ngFor="let parcialProduct of strategy.parcialProducts" style="gap: 14px;">
                            <div>{{parcialProduct.name}} {{parcialProduct.event?.date | date:"dd/MM/yyyy"}}</div>
                            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 6px;">
                                <span class="mb-1">Acción</span>
                                <button class="btn btn-primary btn-block d-flex justify-content-center align-items-center" (click)="GoToGradeTeamParcialProduct(team, parcialProduct)" style="gap: 6px;">
                                    <span *ngIf="false">Reevaluar</span>
                                    <span *ngIf="true">Evaluar</span>
                                    <img src="assets/icons/rate-review.svg">
                                </button>
                            </div>
                            <!-- <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 6px;">
                                <span class="mb-1">Entrega</span>
                                <button class="btn btn-success btn-block">
                                    En tiempo
                                </button>
                                <button class="btn btn-danger btn-block">
                                    Vencido
                                </button>
                            </div>
                            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 6px;">
                                <span class="mb-1">Revisión</span>
                                <ng-container *ngIf="true">
                                    <button class="btn btn-warning btn-block">
                                        Pendiente
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="false">
                                    <button class="btn btn-primary btn-block">
                                        Calificdo
                                    </button>
                                    <div class="file-box">
                                        4.5
                                    </div>
                                </ng-container>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!strategy?.isByTeams">
            <div class="col-12 mb-4" *ngFor="let student of students">
                <div class="team-progress-card flex-column justify-content-center">
                    <!-- Student data -->
                    <div class="team-container w-100 flex-grow-1">
                        <div class="title mb-0">{{BuildStudentFullName(student)}}</div>
                    </div>

                    <!-- Student evaluations -->
                    <div class="d-flex align-items-start justify-content-center justify-content-lg-start overflow-auto" style="gap: 14px;">
                        <div class="evaluation-col flex-grow-1" *ngFor="let parcialProduct of strategy.parcialProducts" style="gap: 14px;">
                            <div>{{parcialProduct.name}} {{parcialProduct.event?.date | date:"dd/MM/yyyy"}}</div>
                            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 6px;">
                                <span class="mb-1">Acción</span>
                                <button class="btn btn-primary btn-block d-flex justify-content-center align-items-center" (click)="GoToGradeStudentParcialProduct(student, parcialProduct)" style="gap: 6px;">
                                    <span *ngIf="false">Reevaluar</span>
                                    <span *ngIf="true">Evaluar</span>
                                    <img src="assets/icons/rate-review.svg">
                                </button>
                            </div>
                            <!-- <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 6px;">
                                <span class="mb-1">Entrega</span>
                                <button class="btn btn-success btn-block">
                                    En tiempo
                                </button>
                                <button class="btn btn-danger btn-block">
                                    Vencido
                                </button>
                            </div>
                            <div class="d-flex flex-column align-items-start align-self-stretch" style="gap: 6px;">
                                <span class="mb-1">Revisión</span>
                                <ng-container *ngIf="true">
                                    <button class="btn btn-warning btn-block">
                                        Pendiente
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="false">
                                    <button class="btn btn-primary btn-block">
                                        Calificdo
                                    </button>
                                    <div class="file-box">
                                        4.5
                                    </div>
                                </ng-container>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
