<div class="w-100">
    <div class="d-flex align-items-center flex-wrap mb-3" style="gap: 24px;">
        <div class="title-row">
            <div>
                <img class="clickeable" src="assets/icons/back-arrow.png" alt="back" (click)="ChangeStep(-1)">
            </div>
            <div class="title mb-0 flex-wrap">
                <span class="title-text">{{template?.nickname ? template?.nickname : template?.name }}</span>
                <img src="assets/icons/right-chevron.svg">
                <span [ngClass]="{'active': step == 1}">Objetivos</span>
                <ng-container *ngIf="step >= 2">
                    <img src="assets/icons/right-chevron.svg">
                    <span [ngClass]="{'active': step == 2}">Descripción</span>
                </ng-container>
                <ng-container *ngIf="step >= 3">
                    <img src="assets/icons/right-chevron.svg">
                    <span [ngClass]="{'active': step == 3}">{{ step == 3 ? 'Productos parciales' : 'Parciales'}}</span>
                </ng-container>
                <ng-container *ngIf="step >= 4">
                    <img src="assets/icons/right-chevron.svg">
                    <span [ngClass]="{'active': step == 4}">Producto final</span>
                </ng-container>
                <ng-container *ngIf="step >= 5">
                    <img src="assets/icons/right-chevron.svg">
                    <span [ngClass]="{'active': step == 5}">Evento de cierre</span>
                </ng-container>
            </div>
        </div>

        <div class="d-flex flex-column ml-auto" style="gap: 8px;">
            <div class="steps-icons">
                <div class="d-flex align-items-center" *ngIf="step == 1"><img src="assets/icons/strategy-creation/add-circle-current.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step > 1"><img src="assets/icons/strategy-creation/add-circle-active.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step == 2"><img src="assets/icons/strategy-creation/title-current.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step > 2"><img src="assets/icons/strategy-creation/title-active.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step < 2"><img src="assets/icons/strategy-creation/title-disabled.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step == 3"><img src="assets/icons/strategy-creation/category-current.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step > 3"><img src="assets/icons/strategy-creation/category-active.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step < 3"><img src="assets/icons/strategy-creation/category-disabled.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step == 4"><img src="assets/icons/strategy-creation/inventory-current.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step > 4"><img src="assets/icons/strategy-creation/inventory-active.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step < 4"><img src="assets/icons/strategy-creation/inventory-disabled.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step == 5"><img src="assets/icons/strategy-creation/celebration-current.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step > 5"><img src="assets/icons/strategy-creation/celebration-active.svg"></div>
                <div class="d-flex align-items-center" *ngIf="step < 5"><img src="assets/icons/strategy-creation/celebration-disabled.svg"></div>
            </div>
            <div class="d-flex align-items-center justify-content-end" style="gap: 10px;">
                <span class="save-text">{{ isLoading ? 'Guardando...' : 'Guardado ' + (lastSave ? lastSave.format('hh:mm:ss a'): '')}}</span>
                <img src="assets/icons/strategy-creation/save.svg">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-sm-none d-md-block col-lg-2 col-xl-1">
        </div>
        <div class="col">
            <div [ngSwitch]="step">
                <div *ngSwitchCase="1">
                    <div class="form-flexbox">
                        <div class="form-row">
                            <span class="instruction-number">1</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona grado y grupo para aplicar tu estrategia
                                </div>
                                <div class="d-flex align-items-center" style="gap: 12px;">
                                    <div class="input-container input-small">
                                        <ng-select
                                            #gradeSelect
                                            class="ng-select form-control with-border"
                                            [items]="grades"
                                            bindLabel="name"
                                            placeholder="Grado"
                                            addTagText="Agregar"
                                            [addTag]="AddGrade"
                                            [disabled]="loading.grade"
                                            [loading]="loading.grade"
                                            [(ngModel)]="grade"
                                            (change)="saver.next()">
                                        </ng-select>
                                    </div>
                                    <div class="input-container input-small">
                                        <ng-select
                                            #groupSelect
                                            class="ng-select form-control with-border"
                                            [items]="groups"
                                            bindLabel="name"
                                            placeholder="Grado"
                                            addTagText="Agregar"
                                            [addTag]="AddGroup"
                                            [disabled]="loading.group"
                                            [loading]="loading.group"
                                            [(ngModel)]="group"
                                            (change)="saver.next()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">2</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona o escribe los campos formativos
                                </div>
                                <div class="d-flex align-items-center w-100">
                                    <div class="input-container">
                                        <ng-select
                                            #subjectsSelect
                                            class="form-control with-border"
                                            [items]="subjects"
                                            bindLabel="name"
                                            placeholder="Campo formativo"
                                            addTagText="Agregar"
                                            [addTag]="AddSubject"
                                            [loading]="loading.subject"
                                            (change)="OnSelectedSubjectsChange($event); subjectsSelect.handleClearClick()">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">3</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona o escribe los objetivos
                                </div>
                                <div class="slider w-100 justify-content-between" style="min-height: 215px;">
                                    <div class="slider-control left clickeable"><img src="assets/icons/left-chevron-circle.svg" alt=""></div>
                                    <div class="slider-content">
                                        <div class="slide select-card" *ngFor="let subject of selectedSubjects; let i = index">
                                            <div class="d-flex justify-content-end clickeable w-100">
                                                <img src="assets/icons/close-circle.svg" (click)="RemoveItemFromArray(selectedSubjects, i)">
                                            </div>
                                            <div class="title">{{subject.name}}</div>
                                            <div>Selecciona o escribe los objetivos de la SEP</div>
                                            <div class="subtitle">
                                                {{'Usted seleccionó ' + (!!subject.sepObjectives?.length ? subject.sepObjectives?.length : 0) + ' objetivos'}}
                                            </div>
                                            <div class="input-container">
                                                <ng-select
                                                    #sepObjectivesSelect
                                                    class="form-control with-border"
                                                    [items]="sepObjectives"
                                                    bindLabel="name"
                                                    placeholder="Campo formativo"
                                                    addTagText="Agregar"
                                                    [addTag]="AddSepObjective"
                                                    [loading]="loading.sepObjective"
                                                    (change)="OnObjectiveSelected(subject, $event); sepObjectivesSelect.handleClearClick()">
                                                </ng-select>
                                            </div>
                                            <div class="dropdwon-content" [ngClass]="{'show': subject.showMore}">
                                                <div class="element-container" *ngFor="let objective of subject.sepObjectives; let i = index">
                                                    <div>{{objective.name}}</div>
                                                    <img class="clickeable" (click)="RemoveItemFromArray(subject.sepObjectives, i)" src="assets/icons/close-circle.svg" alt="delete">
                                                </div>
                                            </div>
                                            <div class="dropdown-text clickeable" (click)="subject.showMore = !!!subject.showMore">
                                                <span *ngIf="!subject.showMore">
                                                    Ver todos los objetivos que seleccioné
                                                </span>
                                                <img *ngIf="!subject.showMore" src="assets/icons/chevron-down.svg">
                                                <span *ngIf="subject.showMore">
                                                    Ver menos
                                                </span>
                                                <img *ngIf="subject.showMore" src="assets/icons/chevron-up.svg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider-control right clickeable"><img src="assets/icons/right-chevron-circle.svg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">4</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona las competencias que buscas abordar en tu estrategia
                                </div>
                                <div class="d-flex flex-column align-items-start w-100">
                                    <div class="input-container">
                                        <ng-select
                                            #skillsSelect
                                            class="form-control with-border"
                                            [items]="skills"
                                            bindLabel="name"
                                            placeholder="Decisión"
                                            addTagText="Agregar"
                                            [addTag]="AddSkill"
                                            [loading]="loading.skill"
                                            (change)="OnSkillSelected($event); skillsSelect.handleClearClick()">
                                        </ng-select>
                                    </div>

                                    <div class="select-card mt-4" [formGroup]="strategyForm">
                                        <div class="title">Competencias</div>
                                        <div class="subtitle">
                                            {{'Usted seleccionó ' + (!!strategyForm.get('skills') ? strategyForm.get('skills')?.value?.length : 0) + ' competencias'}}
                                        </div>
                                        <div class="element-container" *ngFor="let skill of strategyForm.get('skills')?.value; let i = index">
                                            <div>{{skill.name}}</div>
                                            <img class="clickeable" (click)="RemoveItemFromArray(strategyForm.get('skills')?.value, i)" src="assets/icons/close-circle.svg" alt="delete">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="2">
                    <div class="form-flexbox" [formGroup]="strategyForm">
                        <div class="d-flex flex-column" style="gap: 12px;">
                            <div class="section-group">
                                {{!!grade && !!group ? (grade.name + "° " + group.name) : 'No seleccionado'}}
                            </div>
                            <div class="instruction">
                                Puedes avanzar sin completar todos los campos, después  podrás completar tu estrategia.
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">1</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona o escribe tu temática
                                </div>
                                <div class="input-container">
                                    <ng-select
                                        #templateTopicSelect
                                        class="form-control with-border"
                                        [items]="templateTopics"
                                        bindLabel="name"
                                        bindValue="name"
                                        placeholder="Temática"
                                        addTagText="Agregar"
                                        [addTag]="AddTemplateTopic"
                                        [loading]="loading.templateTopic"
                                        formControlName="topic"
                                        (change)="saver.next()">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">2</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Escribe un título
                                </div>
                                <div class="form-section-instruction">
                                    Recuerda que tu título debe ser creativo y atractivo para tus alumnos, puedes incluir un poco de información del tema y alguna palabra que sea familiar para tus alumnos
                                </div>
                                <div class="input-container">
                                    <input class="form-control no-icon" type="text" formControlName="title" placeholder="Título de tu proyecto" (change)="saver.next()">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">3</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Escribe la pregunta generadora
                                </div>
                                <div class="form-section-instruction">
                                    Recuerda que esta pregunta será la que deberán responder al final del proyecto, lo que indicará que sí obtuvieron los aprendizajes esperados.
                                </div>
                                <div class="input-container">
                                    <input class="form-control no-icon" type="text" formControlName="generatingQuestion" placeholder="Pregunta generadora" (change)="saver.next()">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">4</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona las fechas de duración !
                                </div>
                                <div class="input-container">
                                    <input
                                        #strategyDateRangePicker="bsDaterangepicker"
                                        class="form-control no-icon"
                                        type="text"
                                        formControlName="dates"
                                        placeholder="Fechas del proyecto"
                                        [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue' }"
                                        bsDaterangepicker
                                       (onHidden)="saver.next()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="3">
                    <div class="d-flex flex-column mb-5" style="gap: 12px;">
                        <div class="section-group">
                            {{!!grade && !!group ? (grade.name + "° " + group.name) : 'No seleccionado'}}
                        </div>
                        <div class="instruction">
                            Agrega un nuevo producto
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="tab clickeable" (click)="selectedTab = 'create'" [ngClass]="{'active': selectedTab == 'create'}">
                            Crear producto nuevo
                        </div>
                        <div class="tab clickeable" (click)="selectedTab = 'saved'" [ngClass]="{'active': selectedTab == 'saved'}">
                            Productos guardados
                        </div>
                    </div>
                    <div [ngSwitch]="selectedTab">
                        <div *ngSwitchCase="'create'">
                            <div class="form-flexbox parcial-product-card" [formGroup]="parcialProductForm">
                                <div class="form-row">
                                    <span class="instruction-number">1</span>
                                    <div class="form-col">
                                        <div class="form-section-title">
                                            Selecciona tu tipo de producto
                                        </div>
                                        <div class="input-container">
                                            <ng-select
                                                #parcialProductTypeSelect
                                                class="form-control with-border"
                                                [items]="parcialProductTypes"
                                                groupBy="type"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Temática"
                                                addTagText="Agregar"
                                                [addTag]="AddParcialProductType"
                                                [loading]="loading.parcialProductType"
                                                formControlName="parcialProductTypeId"
                                                (change)="saver.next()">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <span class="instruction-number">2</span>
                                    <div class="form-col">
                                        <div class="form-section-title">
                                            Escribe un nombre de producto
                                        </div>
                                        <div class="input-container with-border-thin">
                                            <input class="form-control no-icon" type="text" formControlName="name" placeholder="Nombre del producto" (change)="saver.next()">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <span class="instruction-number">3</span>
                                    <div class="form-col">
                                        <div class="form-section-title">
                                            Escribe las instrucciones de tu producto
                                        </div>
                                        <div class="input-container">
                                            <textarea
                                                class="form-control with-border-thin"
                                                formControlName="instructions"
                                                placeholder="Instrucciones del producto"
                                                rows="6"
                                                (change)="saver.next()"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <span class="instruction-number">4</span>
                                    <div class="form-col">
                                        <div class="form-section-title">
                                            Selecciona la fecha de entrega
                                        </div>
                                        <div class="input-container">
                                            <input
                                                #parcialProductDatePicker="bsDatepicker"
                                                class="form-control no-icon with-border-thin"
                                                type="text"
                                                formControlName="date"
                                                placeholder="Fecha de entrega"
                                                [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue' }"
                                                bsDatepicker
                                               >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <span class="instruction-number">5</span>
                                    <div class="form-col">
                                        <div class="form-section-title">
                                            Evaluar por
                                        </div>
                                        <div class="input-container">
                                            <ng-select
                                                #evaluationTypeSelect
                                                class="form-control with-border"
                                                [items]="evaluationTypes"
                                                bindLabel="name"
                                                formControlName="evaluationType"
                                                placeholder="Tipo de evaluación"
                                                (change)="saver.next()">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="parcialProductForm.get('evaluationType')?.value?.type == 'rubric'" class="d-flex justify-content-end w-100">
                                            <div class="link clickeable" (click)="rubricTutorialModal.OpenModal()">Ver ejemplo de rubrica</div>
                                        </div>
                                        <app-rubric
                                            *ngIf="parcialProductForm.get('evaluationType')?.value?.type == 'rubric'"
                                            [onReset]="onReset"
                                            [rubrics]="!!parcialProductForm.get('rubric') ? parcialProductForm.get('rubric')?.value : []"
                                            (exportRubrics)="CatchRubrics($event)" (change)="saver.next()"></app-rubric>
                                        <div class="d-flex flex-column w-100" style="gap: 16px;" *ngIf="parcialProductForm.get('evaluationType')?.value?.type =='numeric'">
                                            <div class="instruction-2">
                                                Escribe el máximo a aspirar
                                            </div>
                                            <div class="input-container with-border-thin">
                                                <input class="form-control no-icon" type="text" formControlName="maxCalification" placeholder="Calificación máxima" (change)="saver.next()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <span class="instruction-number">6</span>
                                    <div class="form-col">
                                        <div class="form-section-title">
                                            Asignar los recursos a utilizar
                                        </div>
                                        <div class="flex-files-container">
                                            <div class="flex-files" [ngClass]="{'active': !!GetFiles('new').length}">
                                                <div class="flex-icons">
                                                    <img src="assets/icons/video-recorder.png" alt="video">
                                                    <img src="assets/icons/gallery.png" alt="video">
                                                    <img src="assets/icons/book-closed-green.png" alt="video">
                                                </div>
                                                <input class="d-none" type="file" #fileInput multiple (change)="OnFileSelected($event)">
                                                <div class="add-resource clickeable" (click)="fileInput.click()">
                                                    Adjuntar algún recurso
                                                </div>
                                                <div class="flex-resources" *ngIf="!!this.parcialProductForm.get('resources')?.value.length">
                                                    <ng-container *ngFor="let file of this.parcialProductForm.get('resources')?.value; let i = index">
                                                        <div class="resource" *ngIf="!file.id">
                                                            <div class="d-flex align-items-center" style="gap: 20px;">
                                                                <i class="zmdi zmdi-file zmdi-hc-2x text-primary mr-3"></i>
                                                                {{file.name}}
                                                            </div>
                                                            <img class="clickeable" (click)="RemoveItemFromArray(this.parcialProductForm.get('resources')?.value, i)" src="assets/icons/close-circle.svg" alt="Borrar">
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                            
                                            <div class="flex-files" [ngClass]="{'active': !!GetFiles('old').length}">
                                                <div class="flex-icons">
                                                    <img src="assets/icons/library.png" alt="video">
                                                    <img src="assets/icons/movie.png" alt="video">
                                                    <img src="assets/icons/microscope.png" alt="video">
                                                </div>
                                                <div class="add-resource clickeable" (click)="libraryModal.OpenModal()">
                                                    Adjuntar de la biblioteca
                                                </div>
                                                <div class="flex-resources" *ngIf="!!this.parcialProductForm.get('resources')?.value.length">
                                                    <ng-container *ngFor="let file of this.parcialProductForm.get('resources')?.value; let i = index">
                                                        <div class="resource" *ngIf="!!file.id">
                                                            <div class="d-flex align-items-center" style="gap: 20px;">
                                                                <i class="zmdi zmdi-file zmdi-hc-2x text-primary mr-3"></i>
                                                                {{file.name}}
                                                            </div>
                                                            <img class="clickeable" (click)="RemoveItemFromArray(this.parcialProductForm.get('resources')?.value, i)" src="assets/icons/close-circle.svg" alt="Borrar">
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-controls" style="gap: 10px;">
                                    <button class="btn btn-outline-success" (click)="CancelParcialProduct()">
                                        Cancelar
                                    </button>
                                    <button class="btn btn-success" (click)="SaveParcialProduct()">
                                        Guardar producto
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'saved'">
                            <ng-container *ngFor="let parcialProduct of strategy?.parcialProducts; let i = index">
                                <div class="parcial-product-show-card" *ngIf="!parcialProduct.isFinal">
                                    <div class="d-flex justify-content-end w-100" style="gap: 16px;">
                                        <img class="clickeable" (click)="selectedParcialProduct = parcialProduct; OpenModal(deleteConfirmationModal)" src="assets/icons/delete.svg" alt="">
                                        <img class="clickeable" (click)="EditParcialProduct(parcialProduct)" src="assets/icons/edit.svg" alt="">
                                    </div>
                                    <div class="name">
                                        {{!!parcialProduct.name ? parcialProduct.name : 'Sin nombre' }}
                                    </div>
                                    <div class="type">
                                        {{!!parcialProduct.type?.name ? parcialProduct.type?.name : 'Sin tipo' }}
                                    </div>
                                    <div class="">
                                        {{!!parcialProduct.instructions ? parcialProduct.instructions : 'Sin instrucciones' }}
                                    </div>
                                    <div class="date">
                                        <span *ngIf="!!parcialProduct.event?.date">
                                            Entrega para {{parcialProduct.event?.date | date:"dd/MM/yyyy" }}
                                        </span>
                                        <span *ngIf="!parcialProduct.event?.date">
                                            Sin fecha de entrega
                                        </span>
                                    </div>
                                    <div class="">
                                        {{ !!strategy.generatingQuestion ? strategy.generatingQuestion : 'Sin pregunta generadora' }}
                                    </div>
                                    <div class="">
                                        {{ !!parcialProduct.evaluationType?.name ? parcialProduct.evaluationType?.name : 'Sin tipo de evaluación' }}
                                    </div>
                                    <div class="dropdwon-content" [ngClass]="{'show-bigger': parcialProduct.showMore}">
                                        <app-rubric [rubrics]="parcialProduct.rubric" [showControls]="false"></app-rubric>
                                    </div>
                                    <div class="dropdown-text clickeable" *ngIf="parcialProduct.evaluationType?.type == 'rubric'" (click)="parcialProduct.showMore = !!!parcialProduct.showMore">
                                        <span *ngIf="!parcialProduct.showMore">
                                            Ver rubrica
                                        </span>
                                        <img *ngIf="!parcialProduct.showMore" src="assets/icons/chevron-down.svg">
                                        <span *ngIf="parcialProduct.showMore">
                                            Dejar de ver rúbrica
                                        </span>
                                        <img *ngIf="parcialProduct.showMore" src="assets/icons/chevron-up.svg">
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-secondary">
                                            Ver recursos
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="4">
                    <div class="d-flex flex-column mb-5" style="gap: 12px;">
                        <div class="section-group">
                            {{!!grade && !!group ? (grade.name + "° " + group.name) : 'No seleccionado'}}
                        </div>
                        <div class="instruction">
                            Puedes dejar para después tu producto final,  podrás completarlo más tarde.
                        </div>
                    </div>
                    <div class="form-flexbox parcial-product-card" [formGroup]="parcialProductForm">
                        <div class="form-row">
                            <span class="instruction-number">1</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona tu tipo de producto
                                </div>
                                <div class="input-container">
                                    <ng-select
                                        #parcialProductTypeSelect
                                        class="form-control with-border"
                                        [items]="parcialProductTypes"
                                        groupBy="type"
                                        bindLabel="name"
                                        bindValue="id"
                                        placeholder="Temática"
                                        addTagText="Agregar"
                                        [addTag]="AddParcialProductType"
                                        [loading]="loading.parcialProductType"
                                        formControlName="parcialProductTypeId"
                                        (change)="saver.next()">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">2</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Escribe un nombre de producto
                                </div>
                                <div class="input-container with-border-thin">
                                    <input class="form-control no-icon" type="text" formControlName="name" placeholder="Nombre del producto" (change)="saver.next()">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">3</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Escribe las instrucciones de tu producto
                                </div>
                                <div class="input-container">
                                    <textarea
                                        class="form-control with-border-thin"
                                        formControlName="instructions"
                                        placeholder="Instrucciones del producto"
                                        rows="6"
                                        (change)="saver.next()"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">4</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona la fecha de entrega
                                </div>
                                <div class="input-container">
                                    <input
                                        #finalParcialProductDatePicker="bsDatepicker"
                                        class="form-control no-icon with-border-thin"
                                        type="text"
                                        formControlName="date"
                                        placeholder="Fecha de entrega"
                                        [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue' }"
                                        bsDatepicker
                                       >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">5</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Evaluar por
                                </div>
                                <div class="input-container">
                                    <ng-select
                                        #evaluationTypeSelect
                                        class="form-control with-border"
                                        [items]="evaluationTypes"
                                        bindLabel="name"
                                        formControlName="evaluationType"
                                        placeholder="Tipo de evaluación"
                                        (change)="saver.next()">
                                    </ng-select>
                                </div>
                                <div *ngIf="parcialProductForm.get('evaluationType')?.value?.type == 'rubric'" class="d-flex justify-content-end w-100">
                                    <div class="link clickeable" (click)="rubricTutorialModal.OpenModal()">Ver ejemplo de rubrica</div>
                                </div>
                                <app-rubric
                                    *ngIf="parcialProductForm.get('evaluationType')?.value?.type == 'rubric'"
                                    [onReset]="onReset"
                                    (exportRubrics)="CatchRubrics($event)"></app-rubric>
                                <div class="d-flex flex-column w-100" style="gap: 16px;" *ngIf="parcialProductForm.get('evaluationType')?.value?.type =='numeric'">
                                    <div class="instruction-2">
                                        Escribe el máximo a aspirar
                                    </div>
                                    <div class="input-container with-border-thin">
                                        <input class="form-control no-icon" type="text" formControlName="maxCalification" placeholder="Calificación máxima" (change)="saver.next()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">6</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Asignar los recursos a utilizar
                                </div>
                                <div class="flex-files-container">
                                    <div class="flex-files" [ngClass]="{'active': !!GetFiles('new').length}">
                                        <div class="flex-icons">
                                            <img src="assets/icons/video-recorder.png" alt="video">
                                            <img src="assets/icons/gallery.png" alt="video">
                                            <img src="assets/icons/book-closed-green.png" alt="video">
                                        </div>
                                        <input class="d-none" type="file" #fileInput multiple (change)="OnFileSelected($event)">
                                        <div class="add-resource clickeable" (click)="fileInput.click()">
                                            Adjuntar algún recurso
                                        </div>
                                        <div class="flex-resources" *ngIf="!!this.parcialProductForm.get('resources')?.value.length">
                                            <ng-container *ngFor="let file of this.parcialProductForm.get('resources')?.value; let i = index">
                                                <div class="resource" *ngIf="!file.id">
                                                    <div class="d-flex align-items-center" style="gap: 20px;">
                                                        <i class="zmdi zmdi-file zmdi-hc-2x text-primary mr-3"></i>
                                                        {{file.name}}
                                                    </div>
                                                    <img class="clickeable" (click)="RemoveItemFromArray(this.parcialProductForm.get('resources')?.value, i)" src="assets/icons/close-circle.svg" alt="Borrar">
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                    
                                    <div class="flex-files" [ngClass]="{'active': !!GetFiles('old').length}">
                                        <div class="flex-icons">
                                            <img src="assets/icons/library.png" alt="video">
                                            <img src="assets/icons/movie.png" alt="video">
                                            <img src="assets/icons/microscope.png" alt="video">
                                        </div>
                                        <div class="add-resource clickeable" (click)="libraryModal.OpenModal()">
                                            Adjuntar de la biblioteca
                                        </div>
                                        <div class="flex-resources" *ngIf="!!this.parcialProductForm.get('resources')?.value.length">
                                            <ng-container *ngFor="let file of this.parcialProductForm.get('resources')?.value; let i = index">
                                                <div class="resource" *ngIf="!!file.id">
                                                    <div class="d-flex align-items-center" style="gap: 20px;">
                                                        <i class="zmdi zmdi-file zmdi-hc-2x text-primary mr-3"></i>
                                                        {{file.name}}
                                                    </div>
                                                    <img class="clickeable" (click)="RemoveItemFromArray(this.parcialProductForm.get('resources')?.value, i)" src="assets/icons/close-circle.svg" alt="Borrar">
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-controls" style="gap: 10px;">
                            <button class="btn btn-outline-success" (click)="CancelParcialProduct()">
                                Cancelar
                            </button>
                            <button class="btn btn-success" (click)="SaveParcialProduct(true)">
                                Guardar producto
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="5">
                    <div class="form-flexbox" [formGroup]="eventForm">
                        <div class="form-row">
                            <span class="instruction-number">1</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona o escribe tu tipo de evento de cierre
                                </div>
                                <div class="input-container">
                                    <ng-select
                                        #eventTypeSelect
                                        class="ng-select form-control with-border"
                                        [items]="eventTypes"
                                        bindLabel="name"
                                        bindValue="id"
                                        placeholder="Tipo de evento"
                                        addTagText="Agregar"
                                        [addTag]="AddEventType"
                                        [loading]="loading.eventType"
                                        (change)="OnEventTypeSelected($event)"
                                        formControlName="eventTypeId"
                                        (change)="saver.next()">
                                    </ng-select>
                                </div>
                                <div class="input-container">
                                    <textarea
                                        class="form-control with-border-thin"
                                        formControlName="description"
                                        placeholder="Descripción del evento"
                                        rows="5"
                                        (change)="saver.next()"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">2</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Selecciona la fecha de tu evento
                                </div>
                                <div class="input-container">
                                    <input
                                        #finalEventDatePicker="bsDatepicker"
                                        class="form-control no-icon with-border-thin"
                                        type="text"
                                        formControlName="date"
                                        placeholder="Fecha de entrega"
                                        [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue' }"
                                        bsDatepicker
                                       >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <span class="instruction-number">3</span>
                            <div class="form-col">
                                <div class="form-section-title">
                                    Escribe los detalles de tu evento
                                </div>
                                <div class="input-container">
                                    <textarea
                                        class="form-control with-border-thin"
                                        formControlName="instructions"
                                        placeholder="Instrucciones del evento"
                                        rows="6"
                                        (change)="saver.next()"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end w-100 my-5">
        <button class="btn btn-primary continue-button" (click)="ChangeStep()">
            Continuar
        </button>
    </div>
</div>

<app-library-file-selector-modal
    #libraryModal
    (onFilesSelectd)="OnLibraryFilesSelected($event)"
></app-library-file-selector-modal>
<app-rubric-tutorial-modal
    #rubricTutorialModal
></app-rubric-tutorial-modal>

<ng-template #finishModal>
    <div class="modal-body finish-modal-content">
        <div class="">
            Se ha calendarizado exitosamente tu proyecto
        </div>
        <div class="">
            Al publicar tu estrategia otros podrán utilizarla, es necesario que para la publicación la autorice tu rector o tu director, se enviará la solicitud y se te notificará.
        </div>
        <div class="">
            Se publicará en la biblioteca de estrategias, también la podrás utilizar después de publicada.
        </div>
        <div class="text-center my-3">
            <img src="assets/img/teacher-celebrating.png" alt="finish">
        </div>
        <div class="title">
            Asigna a continuación a tus alumnos por equipos o mantenlo como trabajo individual
        </div>
        <div class="d-flex align-items-center w-100" style="gap: 48px;">
            <button class="btn btn-primary w-50" (click)="SaveProject(true)">
                Continuar
            </button>
            <button class="btn btn-success w-50" (click)="SaveProject(true)">
                Publicar estrategia
            </button>
        </div>
    </div>
</ng-template>

<ng-template #deleteConfirmationModal>
    <div class="modal-body finish-modal-content">
        <div class="">
            ¿Está seguro/a de que desea eliminar el producto parcial "{{selectedParcialProduct.name}}"?
        </div>
        <div class="title text-danger">
            Al eliminarlo ya no podrá recuperarlo
        </div>
        <div class="d-flex align-items-center w-100" style="gap: 48px;">
            <button class="btn btn-secondary w-50" [disabled]="loading.parcialProduct" (click)="CloseModal()">
                No, cancelar
            </button>
            <button class="btn btn-primary w-50" [disabled]="loading.parcialProduct" (click)="DeleteParcialProduct(selectedParcialProduct)">
                Si, eliminar
            </button>
        </div>
    </div>
</ng-template>