<div class="content">
    <div class="d-flex align-items-center justify-content-between">
        <app-breadcrumb [crumbs]="crumbs" theme="dark-blue"></app-breadcrumb>

        <h1 class="blue-dark font-quicksand" style="font-size: 2.25rem;"><b>Calificaciones</b></h1>

        <div></div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-5 my-5">
        <div class="strategy-tab clickeable" *ngFor="let strategy of strategies; let index as i"
        (click)="SetStrategyAsActive(strategy)"
        [ngClass]="strategy.active ? 'strategy-tab-active' :'strategy-tab'" id=`tab-${id}`>
            {{strategy.title}}
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Tipo de producto</th>
                <th>Título</th>
                <th>Calificación</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody *ngIf="evaluations.length == 0">
            <tr><td class="align-items-center" colspan="4">
                <i *ngIf="activeStrategy == null" class="text">Selecciona una estrategia</i>
                <i *ngIf="activeStrategy != null" class="text">Sin evaluaciones registradas</i>
            </td></tr>
        </tbody>
        <tbody *ngIf="evaluations.length != 0">
            <tr *ngFor="let evaluation of evaluations">
                <td>{{evaluation.parcialProduct?.type?.name}}</td>
                <td>{{evaluation.parcialProduct?.name}}</td>
                <td>{{evaluation.hasBeenEvaluated ? evaluation.calification : 'Sin registro'}}</td>
                <td>{{evaluation.hasBeenEvaluated ? evaluation.comment : 'Sin registro'}}</td>
            </tr>
        </tbody>
    </table>
</div>
