.profile-card {
    margin-left: 10vw;
    margin-right: auto;
    margin-top: 5vh;

    width: 20vw;
}

.invalid{
    color: red;
}

.data-col {
    margin-bottom: 1rem;

    label {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .text {
        text-transform: capitalize;
    }
}

