<div class="calendar-types-card">
    <div class="text">Lo que dice mi calendario</div>
    <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="icon-container">
            <img src="assets/icons/calendar-event-types/parcial-product.png" alt="Producto parcial">
        </div>
        <span class="event-type-text">Producto parcial</span>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="icon-container">
            <img src="assets/icons/calendar-event-types/event.png" alt="Producto parcial">
        </div>
        <span class="event-type-text">Evento de cierre</span>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="icon-container">
            <img src="assets/icons/calendar-event-types/final-product.png" alt="Producto parcial">
        </div>
        <span class="event-type-text">Producto final</span>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="icon-container">
            <img src="assets/icons/calendar-event-types/activity.png" alt="Producto parcial">
        </div>
        <span class="event-type-text">Actividad</span>
    </div>
</div>
