<div class="content">
    <div class="row mb-5">
        <div class="col-12 d-flex h-100 align-items-center justify-content-between">
            <div class="page-title">
                Progreso
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="topics">
                <div class="topic">
                    <span class="topic-label mr-2">Proyecto</span>
                    <span class="topic-text">{{strategy?.title}}</span>
                </div>
                <div class="topic">
                    <span class="topic-label mr-2">Grupo</span>
                    <span class="topic-text text-uppercase">{{strategy?.strategyGroup?.grade?.name + strategy?.strategyGroup?.group?.name}}</span>
                </div>
                <div class="topic">
                    <span class="topic-label mr-2">Equipos</span>
                    <span class="topic-text">{{strategy?.teams?.length}}</span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="teams">
                <div class="team">
                    <div class="members">
                    </div>
                    <div class="documents">
                        <div class="codument">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
