<div class="content">
    <div class="row mb-5">
        <div class="col-12 d-flex h-100 align-items-center justify-content-between header-col">
            <div class="page-title">
                Mis estrategias
            </div>

            <button class="btn btn-primary" (click)="nav.GoToUserRoute('plantillas')">
                Crear nueva estrategia
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex align-items-center flex-wrap filters gap-3 mb-4">
            <!-- <div class="flex-grow-1 filter">
                <div class="input-container">
                    <div class="input-icon-container icon-container-right text-center">
                        <img src="assets/icons/search-small.png">
                    </div>
                    <input class="form-control icon-right" type="text" placeholder="Buscar">
                </div>
            </div> -->
            <div class="select-container filter">
                <ng-select
                    class="ng-select form-control"
                    [items]="grades"
                    bindLabel="name"
                    (change)="GetStrategies()"
                    [(ngModel)]="gradeSelected"
                    placeholder="Grado"
                    (change)="GetStrategies()">
                </ng-select>
            </div>
            <div class="select-container filter">
                <ng-select
                    class="ng-select form-control"
                    [items]="groups"
                    bindLabel="name"
                    (change)="GetStrategies()"
                    [(ngModel)]="groupSelected"
                    placeholder="Grupo"
                    (change)="GetStrategies()">
                </ng-select>
            </div>
            <div class="select-container flex-grow-1 big filter">
                <ng-select
                    class="ng-select form-control placeholder-primary"
                    [items]="templates"
                    bindLabel="name"
                    placeholder="Tipo de estrategia"
                    [(ngModel)]="templateSelected"
                    (change)="GetStrategies()">
                </ng-select>
            </div>
            <div class="select-container flex-grow-1 big filter">
                <ng-select
                    class="ng-select form-control placeholder-primary"
                    [items]="startegyStatuses"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Estado"
                    [multiple]="true"
                    [(ngModel)]="statusSelected"
                    (change)="GetStrategies()">
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!!strategies.length; else noStrategies">
        <div class="col-12 col-md-6 col-lg-4 mb-1" *ngFor="let strategy of strategies">
            <app-strategy-card [strategy]="strategy" (onChange)="OnStrategyChange($event)"></app-strategy-card>
        </div>
    </div>
</div>

<ng-template #noStrategies>
    <div class="text-center no-items-message">
        No tiene estrategias creadas, cree una nueva estrategia
    </div>
</ng-template>
