<div class="content">
    <div class="row-header mb-5">
        <div class="back-section">
            <img class="back-icon clickeable" src="assets/icons/back-arrow.png" alt="back-arrow" (click)="GoBack()">
        </div>
    </div>
    
    <div class="d-flex flex-column mb-4" style="gap: 12px;">
        <div class="title mb-0">
            Calendario
        </div>
        <div class="subtitle">
            Planea tus estrategias para cada día
        </div>
        <div class="text">
            Selecciona el día para visualizar las actividades planeadas para esa fecha y crear nuevas
        </div>
    </div>
    <app-event-calendar
        *ngIf="!!strategy"
        [strategyId]="strategyId"
        [events]="strategy.events"
    ></app-event-calendar>

</div>
