<div class="content">
    <div class="row-header">
        <div></div>
        <div class="title">
            Calendario
        </div>
        <div></div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="back-section">
            <img class="back-icon clickeable" src="assets/icons/back-arrow.png" alt="back-arrow" (click)="GoBack()">
        </div>

        <div class="subtitle">
            Planea tus estrategias para cada día
        </div>

        <div>
        </div>
    </div>

    <app-event-calendar
        *ngIf="!loading.params"
        [grade]="grade"
        [group]="group"
        [templateId]="templateId"
        [projectId]="projectId"
    ></app-event-calendar>
</div>
