
<div class="container main-container">
  <div class="row">
    <div class="col-md-12 text">
      <h4>Bienvenido</h4>
      <br>
    <h6>Iniciar Sesión</h6>
    </div>
  </div>
</div>

<br>
<br>

<form  (ngSubmit)="login(loginForm.value)" #loginForm = "ngForm">
  <fieldset>
<div class="container col-md-5 text-center">


    <div class="form-group row">

          <label class="col-4 col-form-label">Correo</label>

          <div class="col-md-8">
            <input class="form-control text-center" type="email" id="email" placeholder="correo@email.com"
                    name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">

                    <div *ngIf="email.errors?.required"
                          class="form-control-feedback text-center">
                              "Este campo es obligatorio" </div>

                    <div *ngIf="email.errors?.pattern"
                            class="form-control-feedback text-center">
                                        "No cumple con los caracteres"</div>
          </div>
    </div>


        <div class="form-group row">

              <label class="col-4 col-form-label">Contraseña</label>

              <div class="col-md-8">
                <input class="form-control text-center" type="password" placeholder="Contraseña"
                            name="password" required ngModel  minlength="8" #password="ngModel">

                    <div *ngIf="password.errors?.required"
                            class="form-control-feedback text-center">
                                                    "Campo obligatorio"</div>

                 <div *ngIf="password.errors?.minlength"
                            class="form-control-feedback text-center">
                            "Por lo menos {{ password.errors.minlength.requiredLength}} caracteres"</div>
              </div>
        </div>
<br>
<br>

<div class="container col-md-8 text-center">
  <div class="form-group row">

    <div class="col-md-8">
      <button type="button"
              class="btn btn-primary text-center">
                Iniciar <span><img src="assets/img/face.png" width="30px"></span>
            </button>
    </div>
<br><br>
            <div class="col-md-4">
              <button type="submit"
                      class="btn btn-primary">
                        Entrar
                      </button>
                    </div>

  </div>
</div>

</div>
</fieldset>
</form>


<br><br>
<br>
        <div class="col-md-9 text1">
          <button type="button"
                  class="btn btn-link"
                [routerLink]="['/registrarse']">Registrarse</button>

          <br>
          <button type="button"
                  class="btn btn-link"
                  [routerLink]="['/recuperarContrasena']">¿Olvidastes el Password?</button>
        </div>
