<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="NavigateBack()">
        <ion-icon name="arrow-back"></ion-icon>      
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Notificaciones ({{notifications.CountUnseen()}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-refresher  slot="fixed" (ionRefresh)="DoRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="'Actualizar'" refreshingSpinner="circles"
        [refreshingText]="'Actualizando...'">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item class="notification" (click)="notifications.SetSeen(notification)" [ngClass]="{'unseen':notification.seen==null}" *ngFor="let notification of currentNotifications">
          <ion-label>
            <h3 color="primary">{{notification.title}}</h3>
            <p item-end>{{notification.timestamp | titlecase}}</p>
            <ion-text>{{notification.content}}</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
