.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template {
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F5F7;
    padding: 27px 1rem;
    border-radius: 6px;
    height: 200px;
}
.template-hide {
    display: none;
}
.template-icon {
    width: min-content;
}
.template-name {
    margin-top: 10px;
    color: #1081FB;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
