<div class="container main-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Recuperar Contraseña</h4>
    </div>
  </div>
</div>
<br><br>

<form>

  <div class="container col-md-5 text-center">

    <div class="form-group row">

          <label class="col-4 col-form-label">Gmail</label>

          <div class="col-md-8">
            <input class="form-control text-center"
                  type="gmail"
                  placeholder="gmail@ejemplo.com">
          </div>
    </div>
  </div>
  <br>
  <br>

    <div class="container col-md-4 text-center">

              <div class="form-group row">

                <div class="col-md-7">
                  <button type="button"
                          class="btn btn-outline-primary text-center">
                          Enviar
                        </button>
                      </div>
  <br><br>
                    <div class="col-md-5">
                      <button type="button"
                              class="btn btn-outline-primary text-center"
                              [routerLink]="['/login']">
                              Salir
                            </button>
                    </div>
              </div>

    </div>


  </form>
