<!--
  Generated template for the PasswordChangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form  (ngSubmit)="changePassword(passChangeForm.value)" #passChangeForm="ngForm">
        <ion-list ngModelGroup="passwordData" #passwordDataCtrl="ngModelGroup">
          <hr>

          <ion-label>Contraseña anterior</ion-label>
          <ion-item>
            <!-- Validaciones del campo de la contraseña -->
            <ion-input [disabled]="processing || processed" class="form-control text-center" type="password" placeholder="Contraseña" name="oldPassword" required ngModel #oldPassword="ngModel"></ion-input>
          </ion-item>
          <!-- Mensaje de las validaciones -->
          <ion-label  *ngIf="oldPassword.errors?.required" class="form-control-feedback text-center">"Campo obligatorio"</ion-label>

          <ion-label>Nueva contraseña</ion-label>
          <ion-item>
            <!-- Validaciones del campo de la contraseña -->
            <ion-input [disabled]="processing || processed" class="form-control text-center" type="password" placeholder="Contraseña" name="newPassword" required ngModel #newPassword="ngModel"></ion-input>
          </ion-item>
          <!-- Mensaje de las validaciones -->
          <ion-label  *ngIf="newPassword.errors?.required" class="form-control-feedback text-center">"Campo obligatorio"</ion-label>

          <ion-label>Confirmación de Nueva contraseña</ion-label>
          <ion-item>
            <!-- Validaciones del campo de la contraseña -->
            <ion-input [disabled]="processing || processed" class="form-control text-center" type="password" placeholder="Confirmar Contraseña" name="newPasswordConfirm" required ngModel #newPasswordConfirm="ngModel"></ion-input>
            <!-- Mensaje de las validaciones -->
          </ion-item>
          <ion-label  *ngIf="newPasswordConfirm.errors?.required " class="form-control-feedback text-center">"Campo obligatorio"</ion-label>
          <ion-label  *ngIf="!newPassword.errors?.required && newPassword.value != newPasswordConfirm.value" class="form-control-feedback text-center">"Las contraseñas no coinciden"</ion-label>
          

        </ion-list>

        <button ion-button type="button" (click)="goBack()">Cancelar</button>
        <button ion-button *ngIf="!processing" [disabled]="!passChangeForm.valid" class="btn btn-primary mt-2" style="float: right;" type="submit">Cambiar Contraseña</button>

      </form>

</ion-content>
