<div class="component-content" *ngIf="!newDashboard">

    <div class="d-flex">
        <ng-container *ngFor="let grade of grades">
            <div class="tab clickeable"
            [ngClass]="{'active': grade.key == selectedGrade?.key}"
            (click)="SelectGrade(grade)">
                {{grade.key}}°Grado
            </div>
        </ng-container>
        <div *ngIf="adminControls" class="btn-add-grade clickeable text-success"
        (click)="AddGrade()">
            <i class="zmdi zmdi-plus-circle-o zmdi-hc-2x"></i>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-lg-6" *ngFor="let group of selectedGrade?.groups">
            <div class="group-card">
                <div class="students-list">
                    <div class="group-title">
                        Grupo {{group[0].group}}
                    </div>
                    <div class="students">
                        <div class="student" *ngFor="let student of group; let i = index">
                            <span class="mr-2">{{i+1}}</span> {{student.name}} {{student.fatherLastname}} {{student.motherLastname}}
                        </div>
                    </div>
                </div>
                <div class="group-controls" *ngIf="teacherControls">
                    <div class="group-title">
                        Estrategias
                    </div>
                    <div class="filters">
                        <div class="input-container">
                            <ng-select
                                class="form-control"
                                [items]="strategiesStatuses"
                                bindLabel="name"
                                placeholder="Filtrar por estado">
                            </ng-select>
                        </div>
                    </div>
                    <div class="strategies">

                    </div>
                    <div class="controls">
                        <button class="btn btn-primary btn-block" (click)="onCreateNewStrategy.emit(group)">
                            Crear nueva estrategia
                        </button>
                        <button class="btn btn-outline-primary btn-block" (click)="onApplyExistentStrategy.emit(group)">
                            Aplicar estrategia existente
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 add-group-col" *ngIf="adminControls">
            <button class="btn btn-success btn-add-group">
                Agregar grupo
            </button>
        </div>
    </div>
</div>


<div class="component-content" *ngIf="newDashboard">

    <div class="px-4 d-flex">
        <ng-container *ngFor="let grade of grades">
            <div class="tab border-bottom-0 clickeable"
            [ngClass]="{'active-2': grade.key == selectedGrade?.key}"
            (click)="SelectGrade(grade)">
                {{grade.key}}°Grado
            </div>
        </ng-container>
        <div *ngIf="adminControls" class="btn-add-grade clickeable text-success"
        (click)="AddGrade()">
            <i class="zmdi zmdi-plus-circle-o zmdi-hc-2x"></i>
        </div>
    </div>

    <div class="teacher-dashboard-row">
        <div class="group-card-2 m-4 flex-column justify-content-between" *ngFor="let group of selectedGrade?.groups; let i = index">
            <div class="d-flex flex-wrap justify-content-between align-items-center mb-4" style="gap: 12px;">
                <div class="group-title-2 mb-0">
                    Grupo {{group[0].group}}
                </div>
                <div class="col-container d-flex flex-column justify-content-center align-items-center" (mouseover)="OnMouseOver('popoverPassword',group[0])"  (mouseout)="OnMouseOut('popoverPassword')" (click)="passwordModal.show()">
                    <div class="popover-right" *ngIf="popovers?.popoverPassword && selectedGroup == group[0]">
                      Aquí podrás una contraseña para que ingresen tus alumnos.
                    </div>
                    <img class="icon" src="assets/icons/lock.svg">
                  </div>
                <div class="col-container d-flex flex-column justify-content-center align-items-center" (mouseover)="OnMouseOver('popoverLink',group[0])"  (mouseout)="OnMouseOut('popoverLink')" (click)="GenerateAndCopyLink(group[0].studentGroup)">
                    <div class="popover-right" *ngIf="popovers?.popoverLink && selectedGroup == group[0]">
                      Copia el link de registro y compártelo con tus alumnos.
                    </div>
                    <img class="icon" src="assets/icons/link.svg" *ngIf="loading.generatingLink != group[0].group">
                    <span *ngIf="loading.generatingLink == group[0].group"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
                  </div>
               
            </div>
            <div class="students-2 flex-grow-1">
                <div class="student" *ngFor="let student of group; let i = index">
                    <span class="mr-2">{{i+1}}</span> {{student.name}} {{student.fatherLastname}} {{student.motherLastname}}
                </div>
            </div>
            <div class="controls mt-3" *ngIf="teacherControls">
                <div class="_link clickeable" (click)="SetStudentFormRelations(group[0]); addStudentModal.show()">
                    Agregar alumno
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 add-group-col" *ngIf="adminControls">
            <button class="btn btn-success btn-add-group">
                Agregar grupo
            </button>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #passwordModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
    tabindex="-1" role="dialog" aria-labelledby="passwordModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Asignar contraseña</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="passwordForm">
                    <div class="row">
                     
                        <div class="col-12 col-md-8">
                            <label for="current" class="text">Contraseña actual</label>
                            <div class="input-container">
                                <div class="input-icon-container text-center clickeable" *ngIf="showPassword.current" (click)="TogglePassword('current')">
                                    <img src="assets/icons/hide.svg">
                                </div>
                                <div class="input-icon-container text-center clickeable" *ngIf="!showPassword.current" (click)="TogglePassword('current')">
                                    <img src="assets/icons/show.svg">
                                </div>
                                <input class="form-control" id="current" type="password" placeholder="Contraseña actual" formControlName="currentPassword" [disabled]="true">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-container">
                                 <div class="input-icon-container text-center clickeable" *ngIf="showPassword.new" (click)="TogglePassword('new')">
                                    <img src="assets/icons/hide.svg">
                                </div>
                                <div class="input-icon-container text-center clickeable" *ngIf="!showPassword.new" (click)="TogglePassword('new')">
                                    <img src="assets/icons/show.svg">
                                </div>
                                <input class="form-control" id="new" type="password" placeholder="Nueva Contraseña" formControlName="newPassword">
                                <span class="required-span">*</span>
                                <app-control-messages [control]="passwordForm.get('newPassword')"></app-control-messages>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-container">
                                 <div class="input-icon-container text-center clickeable" *ngIf="showPassword.confirmation" (click)="TogglePassword('confirmation')">
                                    <img src="assets/icons/hide.svg">
                                </div>
                                <div class="input-icon-container text-center clickeable" *ngIf="!showPassword.confirmation" (click)="TogglePassword('confirmation')">
                                    <img src="assets/icons/show.svg">
                                </div>
                                <input class="form-control" id="confirmation" type="password" placeholder="Confirma la contraseña" formControlName="confirmation">
                                <span class="required-span">*</span>
                                <app-control-messages [control]="passwordForm.get('confirmation')"></app-control-messages>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-container">
                                <div class="text-small text-center">
                                    Al cambiar la contraseña los alumnos del grupo que estén activos en la plataforma  deberán iniciar sesión con la nueva contraseña
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-outline-primary modal-btn"
                (click)="CleanPasswordForm(); passwordModal.hide();">
                    Cancelar
                </button>
                <button class="btn btn-primary modal-btn"
                (click)="SaveGroupPassword();" [disabled]="passwordForm.invalid">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #addStudentModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
    tabindex="-1" role="dialog" aria-labelledby="addStudentModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Agregar alumno</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="studentForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-container">
                                <input class="form-control no-icon" type="text" placeholder="Nombre" formControlName="name" (keyup.enter)="AddStudent()">
                                <span class="required-span">*</span>
                            </div>
                            <app-control-messages [control]="studentForm.get('name')"></app-control-messages>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-container">
                                <input class="form-control no-icon" type="text" placeholder="Apellido paterno" formControlName="fatherLastname" (keyup.enter)="AddStudent()">
                                <span class="required-span">*</span>
                            </div>
                            <app-control-messages [control]="studentForm.get('fatherLastname')"></app-control-messages>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-container">
                                <input class="form-control no-icon" type="text" placeholder="Apellido materno" formControlName="motherLastname" (keyup.enter)="AddStudent()">
                            </div>
                            <app-control-messages [control]="studentForm.get('motherLastname')"></app-control-messages>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-container">
                                <input class="form-control no-icon" type="text" placeholder="CURP" formControlName="registerNumber" (keyup.enter)="AddStudent()">
                                <span class="required-span">*</span>
                            </div>
                            <app-control-messages [control]="studentForm.get('registerNumber')"></app-control-messages>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-outline-primary modal-btn"
                (click)="addStudentModal.hide();">
                    Cancelar
                </button>
                <button class="btn btn-primary modal-btn"
                (click)="AddStudent()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
