<header class="header">
  <navigation-trigger></navigation-trigger>

  <div class="header__logo">
    <h1><a [routerLink]="['']">JARABE</a></h1>
  </div>

  <nav aria-label="breadcrumb" *ngIf="sharedService.breadcrumbs.length!=0"> 
    <ol class="breadcrumb"> 
      <li class="breadcrumb-item" *ngFor="let i of sharedService.breadcrumbs"> 
        <a *ngIf="i.link!=''" [routerLink]="[i.link]">{{i.title}}</a> 
        <a *ngIf="i.link==''">{{i.title}}</a> 
 
      </li> 
    </ol> 
  </nav> 

  <ul class="top-nav">
      <li dropdown>
        <a dropdownToggle>
          <i class="zmdi zmdi-notifications"></i>
          <div class="badge badge-pill badge-white" *ngIf="notiServ.countUnseen()!=0">{{notiServ.countUnseen()}}</div>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
          <div class="listview listview--hover" style="max-height:40vh;overflow:scroll;">
            <div class="listview__header">
              Notificaciones
  
              <div class="actions">
                <a class="actions__item zmdi zmdi-plus"></a>
              </div>
            </div>
  
            <a *ngFor="let message of notiServ.notifications" [routerLink]="[notiServ.prepareUrl(message.link)]" routerLinkActive="router-link-active" (click)="notiServ.setSeen(message)"
              class="listview__item" [ngClass]="{'unseen':message.seen==null}">
              <img [src]="message.image" class="listview__img" alt="">
  
              <div class="listview__content">
                <h3 class="listview__heading">
                  {{ message.title }}
                  <small>{{ message.timestamp | date }}</small>
                </h3>
                <p>{{ message.content }}</p>
              </div>
            </a>
  
            <div (click)="notiServ.loadNotifications(
              notiServ.notifications[notiServ.notifications.length-1].id
            )" class="view-more">Cargar más</div>
          </div>
        </div>
      </li>
  
  
      <li dropdown>
        <a dropdownToggle>
          <i class="zmdi zmdi-triangle-down"></i>
        </a>
  
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
          <div class="listview listview--hover">
            <div class="listview__header">
              Opciones
            </div>

            <a class="dropdown-item" (click)="cerrarSession()" href="">Cerrar sesion</a>
          </div>
        </div>
      </li>
    </ul>

</header>