<section class="verification">
  <div class="row justify-content-center title-segment">
    <img class="logo-img" src="assets/img/logo.png" alt="">
    <div class="catchword">JarabeTemplate</div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12 mt-4 pt-4 text-center circular-segment" *ngIf="loading">
        <h1 class="col-12 pt-4 display-4 ">
        Actualizando
        <br>
        <br>
        <i class="zmdi zmdi-spinner zmdi-rotate-right zmdi-hc-spin pl-3 zmdi-hc-2x"></i>
      </h1>
      </div>
      <div class="col-12 mt-4 pt-4 circular-segment" *ngIf="!loading && verified">
        <h1 class="col-12 pt-4 display-4 ">
          Correcto
          <br>
          <br>
        </h1>
        <h4 class="mt-4 mb-4">
          El correo electrónico ha sido verificado exitosamente, ahora puede <a [routerLink]="['']">iniciar sesión</a>
        </h4>
      </div>

      <div class="col-12 mt-4 pt-4 circular-segment" *ngIf="!loading && !verified">
        <h1 class="col-12 pt-4 display-4 ">
          Lo sentimos
          <br>
          <br>
        </h1>
        <h4 class="mt-4 mb-4">
          Ocurrió un error al verificar el correo electrónico, intente más tarde
        </h4>
      </div>
    </div>
  </div>
</section>