<div class="content">
    <div class="row mb-4">
        <div class="col-12 d-flex h-100 align-items-center justify-content-between">
            <div class="page-title">
                Gráficas de desempeño del alumno
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <div class="page-subtitle mb-2">Comentarios destacados</div>
            <div class="comments-container">
                <div class="comment">
                    <i class="zmdi zmdi-star zmdi-hc-2x icon-green"></i>
                    <div>
                        Que gran trabajo con la maqueta
                    </div>
                </div>
                <div class="comment">
                    <i class="zmdi zmdi-star zmdi-hc-2x icon-green"></i>
                    <div>
                        Una excelente presentación
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <label class="stats-group-title">Alumno</label>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3 statistic">
                    <div class="icon-container bg-green">
                        <i class="zmdi zmdi-star-outline zmdi-hc-3x"></i>
                    </div>
                    <div class="data">
                        <div class="title">Promedio de productos</div>
                        <div class="stat">4.5</div>
                        <div class="d-flex align-items-center">
                            <i class="zmdi zmdi-long-arrow-up zmdi-hc-lg text-success mr-2"></i>
                            <div>
                                <b class="text-success">38.45%</b> Ciclo 2021-2022
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3 statistic">
                    <div class="icon-container bg-primary">
                        <i class="zmdi zmdi-view-list-alt zmdi-hc-3x"></i>
                    </div>
                    <div class="data">
                        <div class="title">Promedio de actividades</div>
                        <div class="stat">3.5</div>
                        <div class="d-flex align-items-center">
                            <i class="zmdi zmdi-long-arrow-down zmdi-hc-lg text-danger mr-2"></i>
                            <div>
                                <b class="text-danger">38.45%</b> Ciclo 2022 B
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3 statistic">
                    <div class="icon-container bg-secondary">
                        <i class="zmdi zmdi-alarm zmdi-hc-3x"></i>
                    </div>
                    <div class="data">
                        <div class="title">% Entregas</div>
                        <div class="stat">71%</div>
                        <div class="d-flex align-items-center">
                            <i class="zmdi zmdi-long-arrow-up zmdi-hc-lg text-success mr-2"></i>
                            <div>
                                <b class="text-success">38.45%</b> esta semana
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <label class="stats-group-title">Grupal</label>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3 statistic">
                    <div class="icon-container bg-green">
                        <i class="zmdi zmdi-star-outline zmdi-hc-3x"></i>
                    </div>
                    <div class="data">
                        <div class="title">Promedio de productos</div>
                        <div class="stat">4.5</div>
                        <div class="d-flex align-items-center">
                            <i class="zmdi zmdi-long-arrow-up zmdi-hc-lg text-success mr-2"></i>
                            <div>
                                <b class="text-success">38.45%</b> Ciclo 2021-2022
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3 statistic">
                    <div class="icon-container bg-primary">
                        <i class="zmdi zmdi-view-list-alt zmdi-hc-3x"></i>
                    </div>
                    <div class="data">
                        <div class="title">Promedio de actividades</div>
                        <div class="stat">3.5</div>
                        <div class="d-flex align-items-center">
                            <i class="zmdi zmdi-long-arrow-down zmdi-hc-lg text-danger mr-2"></i>
                            <div>
                                <b class="text-danger">38.45%</b> Ciclo 2022 B
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3 statistic">
                    <div class="icon-container bg-secondary">
                        <i class="zmdi zmdi-alarm zmdi-hc-3x"></i>
                    </div>
                    <div class="data">
                        <div class="title">% Entregas</div>
                        <div class="stat">71%</div>
                        <div class="d-flex align-items-center">
                            <i class="zmdi zmdi-long-arrow-up zmdi-hc-lg text-success mr-2"></i>
                            <div>
                                <b class="text-success">38.45%</b> esta semana
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
