<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Añadir Tarjeta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Nombre del Tarjetahabiente <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" maxlength="20" name="name" [(ngModel)]="data.card.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Número de tarjeta de crédito <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" maxlength="20" name="number" [(ngModel)]="data.card.number"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">CVC <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" maxlength="4" name="cvc" [(ngModel)]="data.card.cvc"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Fecha de expiración (MM/AAAA) <ion-text color="danger">*</ion-text></ion-label>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="5"><ion-input class="ion-text-center" required type="text" maxlength="2" name="exp_month" [(ngModel)]="data.card.exp_month"></ion-input></ion-col>
              <ion-col class="ion-no-padding ion-align-self-center" size="2"><h3 class="ion-text-center ion-no-margin">/</h3></ion-col>
              <ion-col class="ion-no-padding" size="5"><ion-input class="ion-text-center" required type="text" maxlength="4" name="exp_year" [(ngModel)]="data.card.exp_year"></ion-input></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="button" class="ion-no-margin" [disabled]="getStatusData()" (click)="createTokoenCard()">Agregar Tarjeta</ion-button>
      </div>
    </form>
</ion-content>
