<ion-content class="background-gradient-primary">
    
    <div class="welcome-screen">
        <img src="/assets/img/logo.png">
        <h3>{{'signUp.title' | translate}}</h3>
    </div>
<ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="8" size-lg="6">

    <ion-card class="login-card">
        <ion-card-content >
            <form [formGroup]="signupForm">
                
                        <ion-label position="floating">{{'signUp.typeUserName' | translate}}</ion-label>
                        <ion-input placeholder="{{'signUp.typeUserNamePlaceholder' | translate}}" type="text" formControlName="username"></ion-input>
                
                        <ion-label position="floating">{{'signUp.typeMail' | translate}}</ion-label>
                        <ion-input placeholder="{{'signUp.typeMailPlaceholder' | translate}}" type="email" formControlName="email"></ion-input>
                                   
                        <ion-label position="floating">{{'signUp.typePassword' | translate}}</ion-label>
                        <ion-input placeholder="{{'signUp.typePasswordPlaceholder' | translate}}" type="password" formControlName="password"></ion-input>
                
                
                        <ion-label position="floating">{{'signUp.typeRepeatPassword' | translate}}</ion-label>
                        <ion-input placeholder="{{'signUp.typeRepeatPasswordPlaceholder' | translate}}" type="password" formControlName="repeatPassword"></ion-input>
            </form>
                    <ion-button color="primary" [disabled]="!this.signupForm.valid" (click)="OnSignup()">{{'signUp.register' | translate}}</ion-button>
        
                    <div color="secondary" class="login-label" (click)="GoToUrl('/login');" [innerHTML]="'signUp.alreadyAnAccount' | translate"></div>

            <template-social-media-login-buttons (onSocialLoginStart)="OnSocialLoginStart()" (onSocialLoginSuccess)="GetUserWithAPIToken($event)" (onSocialLoginError)="OnSocialLoginError($event)"></template-social-media-login-buttons>
        </ion-card-content>
    </ion-card>

</ion-col>
</ion-row>
</ion-content>