.welcome-screen {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5px;
    img {
        max-width: 30%;
        max-height: 20vh;
    }
    h3 {
        color: var(--ion-color-primary-contrast);
    }
}

.login-card {
     ion-button {
        width: 100%;
    }
    template-social-media-login-buttons {
        margin-top: 10vh;
    }
    .login-label {
        color: var(--ion-color-primary-shade);
        font-weight: 500;
        text-align: center;
    }
}