<div class="full-page">
    <div class="d-flex h-100">
        <div class="vertical-text-container">
            <div class="vertical-text faded-title">
                {{userType}}
            </div>
        </div>
        <div *ngIf="!passwordForgotten" class="w-100 vertical-content">
            <div class="row m-0">
                <div class="col-12 text-center">
                    <div>
                        <img class="title-img" src="assets/img/project_name_medium.png" alt="Bluetopia">
                    </div>

                    <div class="text-center">
                        <div [ngSwitch]="registerStep">
                            <!-- Register 1st part -->
                            <div class="header-container mb-0" *ngSwitchCase="1">
                                <div class="header-container">
                                    <div class="title">
                                        ¡Bienvenido!
                                    </div>
                                    <div class="text">
                                        Comienza gratis tu registro hoy
                                    </div>
                                </div>
                                <form class="form d-inline-block" [formGroup]="userForm">
                                    <div class="input-container">
                                        <div class="input-icon-container text-center">
                                            <img src="assets/icons/mail.png">
                                        </div>
                                        <input class="form-control" type="text" placeholder="Correo electronico" formControlName="email" (keyup.enter)="LoginUser()">
                                    </div>
                                    <app-control-messages [control]="userForm.get('email')"></app-control-messages>
                                    <div class="input-container">
                                        <div class="input-icon-container text-center" (click)="showPassword = !showPassword">
                                            <img [src]="showPassword ? 'assets/icons/hide.svg' : 'assets/icons/show.svg'">
                                        </div>
                                        <input class="form-control" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password" (keyup.enter)="LoginUser()">
                                    </div>
                                    <app-control-messages [control]="userForm.get('password')"></app-control-messages>
                                </form>
                                <div class="link" (click)="passwordForgotten=true">
                                    <a>
                                        ¿Olvidaste tu contraseña?
                                    </a>
                                </div>
                                <div class="btns-container">
                                    <div class="d-flex justify-content-center flex-wrap" [ngClass]="{'justify-content-md-between': canRegister}">
                                        <button class="mb-5 btn btn-primary" *ngIf="canRegister" (click)="Forward()">
                                            Registrarme
                                        </button>
                                        <button class="mb-5 btn btn-success" (click)="LoginUser()">
                                            Iniciar sesión
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Register 2nd part -->
                            <div class="header-container mb-0" *ngSwitchCase="2">
                                <div [ngSwitch]="userType">
                                    <!-- Register student -->
                                    <div *ngSwitchCase="'estudiante'">
                                        <app-register-student (onBackClicked)="GoBack()" (onNextClicked)="ApiRegisterUser($event, null, 'Student')"></app-register-student>
                                    </div>
                                    <!-- Default register form -->
                                    <div *ngSwitchDefault>
                                        <div class="header-container">
                                            <div class="title text-success">
                                                Cuéntanos más sobre tí
                                            </div>
                                            <div class="text">
                                                Y más sobre la institución que representas
                                            </div>
                                        </div>
                                        <form class="form d-inline-block" [formGroup]="userRegisterForm">
                                            <div class="input-container">
                                                <div class="input-icon-container text-center">
                                                    <img src="assets/icons/user.png">
                                                </div>
                                                <input class="form-control" type="text" placeholder="Nombre" formControlName="username">
                                                <span class="required-span">*</span>
                                            </div>
                                            <app-control-messages [control]="userForm.get('username')"></app-control-messages>
                                            <div class="input-container">
                                                <div class="input-icon-container text-center">
                                                    <img src="assets/icons/phone.png">
                                                </div>
                                                <input class="form-control" type="text" maxlength="10" placeholder="Teléfono" formControlName="phone">
                                            </div>
                                            <app-control-messages [control]="userRegisterForm.get('phone')"></app-control-messages>
                                            <ng-container [formGroup]="schoolForm">
                                                <div class="input-container">
                                                    <div class="input-icon-container text-center">
                                                        <img src="assets/icons/school.png">
                                                    </div>
                                                    <input class="form-control" type="text" placeholder="Nombre de la institución" formControlName="name">
                                                    <span class="required-span">*</span>
                                                </div>
                                                <app-control-messages [control]="schoolForm.get('name')"></app-control-messages>
                                                <div class="input-container">
                                                    <div class="input-icon-container text-center">
                                                        <img src="assets/icons/location.png">
                                                    </div>
                                                    <input class="form-control" type="text" placeholder="Dirección" formControlName="address">
                                                    <span class="required-span">*</span>
                                                </div>
                                                <app-control-messages [control]="schoolForm.get('address')"></app-control-messages>
                                                <div class="input-container">
                                                    <div class="input-icon-container text-center">
                                                        <img src="assets/icons/user-phone.png">
                                                    </div>
                                                    <input class="form-control" type="text" maxlength="10" placeholder="Teléfono escolar" formControlName="phone">
                                                </div>
                                                <app-control-messages [control]="schoolForm.get('phone')"></app-control-messages>
                                            </ng-container>
                                            <div class="input-container">
                                                <div class="input-icon-container text-center">
                                                    <img src="assets/icons/users-group.png">
                                                </div>
                                                <input class="form-control" type="text" placeholder="Puesto" formControlName="workTitle">
                                                <span class="required-span">*</span>
                                            </div>
                                            <app-control-messages [control]="userRegisterForm.get('workTitle')"></app-control-messages>
                                            <div class="input-container">
                                                <div class="input-icon-container text-center">
                                                    <img src="assets/icons/mail.png">
                                                </div>
                                                <input class="form-control" type="text" placeholder="Correo" formControlName="email">
                                                <span class="required-span">*</span>
                                            </div>
                                            <app-control-messages [control]="userRegisterForm.get('email')"></app-control-messages>
                                            <div class="input-container">
                                                <div class="input-icon-container text-center">
                                                    <img src="assets/icons/lock.png">
                                                </div>
                                                <input class="form-control" type="password" placeholder="Contraseña" formControlName="password" (keyup)="OnPasswordChange()" (keyup.enter)="RegisterUser()">
                                                <span class="required-span">*</span>
                                            </div>
                                            <app-control-messages [control]="userRegisterForm.get('password')"></app-control-messages>
                                            <div class="input-container">
                                                <div class="input-icon-container text-center">
                                                    <img src="assets/icons/lock.png">
                                                </div>
                                                <input class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword" (keyup.enter)="RegisterUser()">
                                                <span class="required-span">*</span>
                                            </div>
                                            <app-control-messages [control]="userRegisterForm.get('confirmPassword')"></app-control-messages>
                                        </form>
                                        <div class="btns-container">
                                            <div class="d-flex justify-content-center justify-content-md-between flex-wrap">
                                                <button class="mb-5 btn btn-outline-primary" (click)="Back()">
                                                    Volver
                                                </button>
                                                <button class="mb-5 btn btn-primary" (click)="RegisterUser()">
                                                    Registrar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Welcome page -->
                            <div class="mb-0" *ngSwitchCase="3">
                                <app-welcome-view [userType]="userType"></app-welcome-view>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 vertical-content container" *ngIf="passwordForgotten">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="title-img" src="assets/img/project_name_medium.png" alt="Bluetopia">
                    <div class="title">Recupera tu cuenta</div>
                </div>
                <div class="col-12 text-center" *ngIf="step == 0">
                    <h2 class="m-4 text">Ingresa tu correo</h2>

                    <div class="form d-inline-block">
                        <div class="form-group">
                            <!-- Validaciones del campo del correo -->
                            <input class="form-control text-center" type="email" id="email" name="email" [(ngModel)]="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="ejemplo@correo.com">
                            <!-- Mensajes de las validaciones -->

                            <div *ngIf="!email" class="form-control-feedback color-red text-center">
                                Campo obligatorio </div>
                            <div *ngIf="email && !pattern.test(email)" class="form-control-feedback color-red text-center">
                                Correo electrónico no valido</div>
                        </div>
                        <div class="btns-container">
                            <div class="d-flex justify-content-between row">
                                <button [disabled]="loading" class="btn btn-success col-4" type="submit" (click)="SendEmail()">Continuar</button>
                                <button [disabled]="loading" class="btn btn-secondary col-4" (click)="GoBack()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center" *ngIf="loading">
                    <i class="zmdi zmdi-spinner zmdi-hc-4x zmdi-hc-spin"></i>

                </div>
                <!--FORMULARIO INGRESAR PIN-->
                <div *ngIf="step==2" class="col-12 text-center">
                    <div class="form d-inline-block">
                        <div class="form-group">
                            <h4 class="text">Ingrese el PIN</h4>
                            <input class="form-control" type="number" [(ngModel)]="pin" name="pin">
                        </div>
                        <div class="btns-container">
                            <div class="d-flex justify-content-between row">
                                <button [disabled]="loading" class="btn btn-success col-4" type="submit" (click)="TryPIN()">Continuar</button>
                                <button [disabled]="loading" class="btn btn-secondary col-4" (click)="GoBack()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--FORMULARIO PARA INGRESAR LA NUEVA CONTRASEÑA-->
                <div *ngIf="step==3" class="col-12 text-center">
                    <div class="form d-inline-block">
                        <div class="form-group">
                            <h2 class="m-4 text">Ingresa tu nueva contraseña</h2>
                            <input type="password" class="form-control text-center" [(ngModel)]="newPassword" name="newPassword">
                        </div>
                        <div class="btns-container">
                            <div class="d-flex justify-content-between row">
                                <button [disabled]="loading" class="btn btn-success col-4" type="submit" (click)="SetPassword()">Continuar</button>
                                <button [disabled]="loading" class="btn btn-secondary col-4" (click)="GoBack()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>