<div class="content">
    <div class="d-flex align-items-center justify-content-between mb-5">
        <app-breadcrumb [crumbs]="crumbs" theme="dark-blue" (onGoBack)="nav.GoBack()"></app-breadcrumb>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 align-self-stretch mb-4">
            <div class="card-container position-relative">
                <img class="absolute-top-right clickeable" src="assets/icons/heart_plus.png">
                <div class="d-flex w-100 align-items-center justify-content-start gap-2">
                    <img src="assets/icons/calendar-event-types/{{GetEventDetails().icon}}">
                    <div class="sub-title-activity">{{GetEventDetails().type}}</div>
                </div>
                <div class="background-activity">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <div class="text-activity">Fecha de entrega</div>
                        <div class="subtext-activity">{{event?.date | date:"dd/MM/yyyy"}}</div>
                    </div>
                </div>
                <div class="background-activity">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <div class="text-activity">Titulo</div>
                        <div class="subtext-activity">{{GetEventDetails().title}}</div>
                    </div>
                </div>
                <div class="background-activity">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <div class="text-activity">Instrucciones</div>
                        <div class="text">{{GetEventDetails().instructions}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 align-self-stretch mb-4">
            <div class="card-container">
                <div class="d-flex align-items-start gap-3">
                    <img class="icon-padding " src="assets/icons/books.png " alt="back-arrow ">
                    <div class="sub-titles ">Recursos de la biblioteca que el profesor te recomienda ver para hacer la actividad</div>
                </div>
                <div class="background">
                    <div class="file-card" *ngFor="let resource of event?.parcialProduct?.resources">
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <img src="assets/icons/pdf-icon.png">
                            <div class="file-name">
                                {{resource.file?.name}}
                            </div>
                            <!-- <img class="clickeable" src="assets/icons/more_vert.svg"> -->
                            <i class="zmdi zmdi-download zmdi-hc-lg text-white clickeable" (click)="DownloadResource(resource.file)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 align-self-stretch mb-4">
            <div class="card-container justify-content-between">
                <div class="d-flex align-items-center gap-2">
                    <img class="bullet-point " src="assets/icons/bullet-point.png " alt="back-arrow ">
                    <div class="sub-titles ">Subir mi actividad resuelta</div>
                </div>
                <div class="d-flex flex-column align-self-stretch gap-3 p-3 file-input-box">
                    <div class="text-center" *ngIf="!studentFiles?.length">
                        Da click en subir y selecciona tu trabajo
                    </div>
                    <div class="file-card" *ngFor="let file of studentFiles">
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <img src="assets/icons/pdf-icon.png">
                            <div class="file-name">
                                Archivo
                            </div>
                            <!-- <img class="clickeable" src="assets/icons/more_vert.svg"> -->
                            <i class="zmdi zmdi-download zmdi-hc-lg text-white clickeable" (click)="DownloadResource(file)"></i>
                        </div>
                    </div>
                    <button class="btn btn-medium btn-outline-purple" (click)="fileInput.click()">
                        Subir mi trabajo
                    </button>
                    <input class="d-none" #fileInput accept=".pdf" multiple type="file">
                </div>
                <div class="row" *ngIf="false">
                    <div class="col-12">
                        <div class="not-file">
                            <div class="not-file-text">Esta actividad no requiere que entregues un archivo</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-self-stretch align-items-center justify-content-center gap-4">
                    <button class="btn btn-outline-purple"> 
                        Marcar como completado
                    </button>
                </div>
            </div>

        </div>
    </div>
