<div class="content">
    <div class="row">
        <div class="back-arrow">
            <img class="back-icon clickeable" src="assets/icons/back-arrow.png" alt="back-arrow">
            <div class="back-text">
                Calendario
            </div>
            <img class="back-icon clickeable" src="assets/icons/Vector.png" alt="back-arrow">
            <div class="back-text">
                Día
            </div>
            <img class="back-icon clickeable" src="assets/icons/Vector.png" alt="back-arrow">
            <div class="back-text">
                Actividad
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card-container">
                <div class="row">
                    <div class="col-1">
                        <img class="icon-padding" src="assets/icons/activity.png">
                    </div>
                    <div class="col-10">
                        <div class="sub-title-activity">Actividad</div>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/heart_plus.png">
                    </div>
                </div>
                <div class="background-activity">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-activity">Tipo de producto</div>
                        </div>
                        <div class="col-12">
                            <div class="subtext-activity">Actividad</div>
                        </div>
                    </div>
                </div>
                <div class="background-activity">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-activity">Tipo de actividad</div>
                        </div>
                        <div class="col-12">
                            <div class="subtext-activity">Lectura</div>
                        </div>
                    </div>
                </div>
                <div class="background-activity">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-activity">Fecha de entrega</div>
                        </div>
                        <div class="col-12">
                            <div class="subtext-activity">12/Marzo/23</div>
                        </div>
                    </div>
                </div>
                <div class="background-activity">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-activity">Titulo</div>
                        </div>
                        <div class="col-12">
                            <div class="subtext-activity">Lectura en voz alta</div>
                        </div>
                    </div>
                </div>
                <div class="background-activity">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-activity">Instrucciones</div>
                        </div>
                        <div class="col-12">
                            <div class="subtext-activity">Lee en voz alta en tu casa el siguiente archivo.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-container">
                <div class="row">
                    <div class="col-1">
                        <img class="icon-padding " src="assets/icons/books.png " alt="back-arrow ">
                    </div>
                    <div class="col-10">
                        <div class="sub-titles ">Recursos de la biblioteca que el profesor te recomienda ver para hacer la actividad</div>
                    </div>
                </div>
                <div class="background">
                    <div class="file-card">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/icons/pdf-icon.png ">
                            </div>
                            <div class="col-10 file-name">
                                5 pasos para ahorrar agua al lavarte las mano.pdf
                            </div>
                            <div class="padding">
                                <img src="assets/icons/more_vert.svg ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-container">
                <div class="row">
                    <div class="col-1">
                        <img class="bullet-point " src="assets/icons/bullet-point.png " alt="back-arrow ">
                    </div>
                    <div class="col-10">
                        <div class="sub-titles ">Subir mi actividad resuelta</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="not-file">
                            <div class="not-file-text">Esta actividad no requiere que entregues un archivo</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <button class="btn check-complete-button"> 
                            <div class="check-complete-text">
                                Marcar como completado
                            </div>
                        </button>
                    </div>
                    <div class="col-12 ">
                        <button class="btn send"> 
                            <div class="send-text">
                                Enviar
                            </div>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
