
<ion-header>

  <ion-navbar>
    <ion-title text-center>Registrarse</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  class="ion" >

  <form (ngSubmit)="registrarse(formulario)" #formulario="ngForm" novalidate="">

    <ion-list class="padding padinhori" [ngClass]="{ 'has-danger': (nombres.errors?.minlength || nombres.errors?.required)&& nombres.touched}">

<br>

      <ion-item class="ion">
      <ion-icon name="person" item-start></ion-icon>
      <ion-label floating text-center> Nombre(s)
          <div *ngIf="nombres.errors?.required"
                  class="form-control-feedback">
                          "Este campo es requerido"</div>

            <div *ngIf="nombres.errors?.minlength"
                    class="form-control-feedback">
                      "Por lo menos {{ nombres.errors.minlength.requiredLength}} caracteres"</div>  </ion-label>

      <ion-input type="text" name="nombres" ngModel minlength="3" required #nombres="ngModel"> </ion-input>
    </ion-item>

<br>

    <ion-item class="ion">
      <ion-icon name="person" item-start></ion-icon>
      <ion-label floating text-center>Apellido (s)
          <div *ngIf="apellidos.errors?.required"
                  class="form-control-feedback">
                    "Este campo es requerido"</div> </ion-label>

          <ion-input type="text" name="apellidos" ngModel required #apellidos="ngModel"> </ion-input>
    </ion-item>

<br>

    <ion-item class="ion">
      <ion-icon name="mail" item-start></ion-icon>
          <ion-label floating text-center>Correo Email
              <div *ngIf="email.errors?.required"
                        class="form-control-feedback">
                              "Este campo es obligatorio"</div>

                  <div *ngIf="email.errors?.pattern"
                          class="form-control-feedback">
                              "No cumple con los caracteres"</div> </ion-label>

      <ion-input type="email" name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
        </ion-input>
    </ion-item>

<br>

    <ion-item class="ion">
      <ion-icon name="eye" item-start></ion-icon>
      <ion-label floating text-center>Contraseña
        <div *ngIf="password.errors?.required"
                  class="form-control-feedback">
                          "Este campo es obligatorio"</div>

      <div *ngIf="password.errors?.minlength"
              class="form-control-feedback">
                "Por lo menos {{ password.errors.minlength.requiredLength}} caracteres"</div> </ion-label>

      <ion-input type="password" name="password" ngModel required minlength="8" #password="ngModel"></ion-input>
    </ion-item>

<br>

    <ion-item class="ion">
      <ion-icon name="eye" item-start></ion-icon>
      <ion-label floating text-center>Confirmar Contraseña
        <div *ngIf="password1.errors?.required"
                class="form-control-feedback">
                        "Este campo es obligatorio" </div>

          <div *ngIf="password1.errors?.minlength"
                    class="form-control-feedback">
                    "Repetir la Contraseña"</div> </ion-label>


      <ion-input type="password" name="password1" ngModel required #password1="ngModel" minlength="8"></ion-input>
    </ion-item>


<br>


    <ion-item class="ion">
      <ion-icon name="call" item-start></ion-icon>
      <ion-label floating text-center>Teléfono
        <div *ngIf="telefono.errors?.required"
                  class="form-control-feedback">
                      "Este campo es obligatorio" </div>

        <div *ngIf="telefono.errors?.minlength"
                class="form-control-feedback">
                  "Debe de tener {{ telefono.errors.minlength.requiredLength}} caracteres"</div> </ion-label>

      <ion-input type="number" name="telefono" ngModel required minlength="8" maxlength="8" size="8" #telefono="ngModel"></ion-input>
    </ion-item>

<br>

</ion-list>

<ion-list class="pa">
<ion-item class="ion">
 <ion-label>Sexo</ion-label>
 <ion-select name="sexo" ngModel required #sexo="ngModel">
   <ion-option value="Mujer">Mujer</ion-option>
   <ion-option value="Hombre">Hombre</ion-option>
 </ion-select>
</ion-item>
</ion-list>

  <div padding >
    <ion-label class="col-2 col-form-label">&nbsp;</ion-label>

     <button ion-button block [disabled]="!formulario.valid" type="submit"> registrarse </button>
     <br>
     <button ion-button block navPop> Salir</button>
   </div>




</form>

</ion-content>
