<div class="modal fade" bsModal #strategyDetailsModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
    tabindex="-1" role="dialog" aria-labelledby="strategyDetailsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" (click)="strategyDetailsModal.hide()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="strategy-card">
                    <div class="d-flex align-items-start w-100 flex-grow-1" style="gap: 24px;">
                        <div class="info">
                            <div class="title text-uppercase">
                                1°A
                            </div>
                            <div class="d-flex flex-column align-self-stretch">
                                <label>Título</label>
                                {{strategy?.title}}
                            </div>
                            <div class="d-flex flex-column align-self-stretch">
                                <label>Pregunta genradora</label>
                                {{strategy?.generatingQuestion}}
                            </div>
                            <div class="d-flex flex-column align-self-stretch">
                                <label>Duración aproximada</label>
                                2 semanas
                            </div>
                            <div class="d-flex flex-column align-self-stretch">
                                <label>Campos formativos</label>
                                <div class="d-flex" style="gap: 4px;">
                                    <span *ngFor="let subject of strategy?.subjects; let lst = last">{{subject.name + (!!lst ? '' : ',')}}</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="d-flex flex-column flex-grow-1" style="gap: 24px;">
                            <div class="title">
                                Proyectos
                            </div>
                            <div class="d-flex flex-column">
                                <label>Diseñado por</label>
                                Fritzia Hernandez
                            </div>
                            <div class="comment-card">
                                <div class="d-flex flex-column" style="gap: 12px;">
                                    <div class="d-flex align-items-center" style="gap: 8px;">
                                        <img src="assets/icons/bluetopia-icon.svg">
                                        <span class="comment-title">
                                            Los profesores hablan
                                        </span>
                                    </div>
                                    <div>
                                        Utilizada por 53 profesores
                                    </div>
                                </div>
                                <div class="d-flex flex-column" style="gap: 8px;">
                                    <div class="stars">
                                        <img *ngFor="let star of GetArray(4)" src="assets/icons/star-success.svg">
                                        <img *ngFor="let star of GetArray(1)" class="star-disabled" src="assets/icons/star-success.svg">
                                    </div>
    
                                    <span>“Este proyecto me ayudó mucho con mis alumnos de 3°, para temáticas medio ambientales es muy creativo y práctico, para alumnos y padres de familia”</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info w-100">
                        <div class="d-flex flex-column w-100" style="gap: 12px;">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <label class="m-0">Objetivos</label>
                                <div class="details clickeable" (click)="dropdowns.objectives = !dropdowns.objectives">
                                    <ng-container *ngIf="!dropdowns.objectives">
                                        <span>Ver detalles</span>
                                        <img src="assets/icons/chevron-down-fill.svg">
                                    </ng-container>
                                    <ng-container *ngIf="dropdowns.objectives">
                                        <span>Dejar de ver</span>
                                        <img src="assets/icons/chevron-up-fill.svg">
                                    </ng-container>
                                </div>
                            </div>
                            <div class="dropdown-container" [ngClass]="{'dropdown-active': dropdowns.objectives}">
                                <div class="d-flex flex-column" style="gap: 6px;">
                                    <div class="subject" *ngFor="let subject of strategy?.subjects">
                                        <div class="subject-title">
                                            {{subject.name}}
                                        </div>
                                        <div class="d-flex align-items-start justify-content-between flex-wrap" style="gap: 12px;">
                                            <span class="flex-33" *ngFor="let objective of subject.sepObjectives">
                                                {{objective.name}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100" style="gap: 12px;">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <label class="m-0">Competencias</label>
                                <div class="details clickeable" (click)="dropdowns.skills = !dropdowns.skills">
                                    <ng-container *ngIf="!dropdowns.skills">
                                        <span>Ver detalles</span>
                                        <img src="assets/icons/chevron-down-fill.svg">
                                    </ng-container>
                                    <ng-container *ngIf="dropdowns.skills">
                                        <span>Dejar de ver</span>
                                        <img src="assets/icons/chevron-up-fill.svg">
                                    </ng-container>
                                </div>
                            </div>
                            <div class="dropdown-container" [ngClass]="{'dropdown-active': dropdowns.skills}">
                                <div class="d-flex flex-column" style="gap: 6px;">
                                    <div class="d-flex align-items-start justify-content-between flex-wrap" style="gap: 12px;">
                                        <span class="flex-33" *ngFor="let skill of strategy?.skills">
                                            {{skill.name}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-start flex-wrap w-100" style="gap: 24px;">
                        <div class="info info-medium flex-grow-1 align-self-start">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <label class="m-0">Productos parciales</label>
                            </div>
                            <ng-container *ngIf="!!strategy?.parcialProducts">
                                <div class="d-flex flex-column w-100" *ngFor="let parcialProduct of strategy.parcialProducts" style="gap: 6px;">
                                    <ng-container *ngIf="!parcialProduct.isFinal">
                                        <div class="">{{parcialProduct.name ? parcialProduct.name : 'Producto sin nombre'}}</div>
                                        <div class="d-flex align-items-center justify-content-between w-100">
                                            <div class="">
                                                <b>{{!!parcialProduct.type?.type ? parcialProduct.type?.type : 'Sin tipo de producto'}}</b>
                                            </div>
                                            <div class="details clickeable" (click)="parcialProduct.dropdown = !!!parcialProduct.dropdown">
                                                <ng-container *ngIf="!parcialProduct.dropdown">
                                                    <span>Ver detalles</span>
                                                    <img src="assets/icons/chevron-down-fill.svg">
                                                </ng-container>
                                                <ng-container *ngIf="parcialProduct.dropdown">
                                                    <span>Dejar de ver</span>
                                                    <img src="assets/icons/chevron-up-fill.svg">
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="dropdown-container dropdown-big" [ngClass]="{'dropdown-active': parcialProduct.dropdown}">
                                            <div class="d-flex flex-column" style="gap: 12px;">
                                                <div class="d-flex flex-column" style="gap: 6px;">
                                                    <b>Título</b>
                                                    <div class="">{{parcialProduct.name}}</div>
                                                </div>
                                                <div class="d-flex flex-column" style="gap: 6px;">
                                                    <b>Instrucciones</b>
                                                    <div class="">{{parcialProduct.instructions}}</div>
                                                </div>
                                                <div class="d-flex flex-column" style="gap: 6px;">
                                                    <b>Tipo de evaluación</b>
                                                    <div class="">{{parcialProduct.evaluationType?.name ? parcialProduct.evaluationType?.name : 'Sin tipo de evaluación'}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div class="d-flex flex-column info-medium justify-content-between align-self-stretch flex-grow-1" style="gap: 12px;">
                            <div class="info">
                                <label class="m-0">Producto final</label>
                                <div class="d-flex flex-column w-100" style="gap: 6px;">
                                    <div class="">{{parcialProductFinal?.name ? parcialProductFinal?.name : 'Producto sin nombre'}}</div>
                                    <div class="d-flex align-items-center justify-content-between w-100">
                                        <div class="">
                                            <b>{{!!parcialProductFinal?.type?.type ? parcialProductFinal?.type?.type : 'Sin tipo de producto'}}</b>
                                        </div>
                                        <div class="details clickeable" (click)="dropdowns.finalProduct = !dropdowns.finalProduct">
                                            <ng-container *ngIf="!dropdowns.finalProduct">
                                                <span>Ver detalles</span>
                                                <img src="assets/icons/chevron-down-fill.svg">
                                            </ng-container>
                                            <ng-container *ngIf="dropdowns.finalProduct">
                                                <span>Dejar de ver</span>
                                                <img src="assets/icons/chevron-up-fill.svg">
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-container dropdown-big" [ngClass]="{'dropdown-active': dropdowns.finalProduct}">
                                    <div class="d-flex flex-column" style="gap: 12px;">
                                        <div class="d-flex flex-column" style="gap: 6px;">
                                            <b>Título</b>
                                            <div class="">{{parcialProductFinal?.name}}</div>
                                        </div>
                                        <div class="d-flex flex-column" style="gap: 6px;">
                                            <b>Instrucciones</b>
                                            <div class="">{{parcialProductFinal?.instructions}}</div>
                                        </div>
                                        <div class="d-flex flex-column" style="gap: 6px;">
                                            <b>Tipo de evaluación</b>
                                            <div class="">{{parcialProductFinal?.evaluationType?.name ? parcialProductFinal?.evaluationType?.name : 'Sin tipo de evaluación'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <label class="m-0">Evento de cierre</label>
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <div class="">
                                        <b>{{!!finalEvent?.type?.name ? finalEvent?.type?.name : 'Sin tipo de evento'}}</b>
                                    </div>
                                    <div class="details clickeable" (click)="dropdowns.finalEvent = !dropdowns.finalEvent">
                                        <ng-container *ngIf="!dropdowns.finalEvent">
                                            <span>Ver detalles</span>
                                            <img src="assets/icons/chevron-down-fill.svg">
                                        </ng-container>
                                        <ng-container *ngIf="dropdowns.finalEvent">
                                            <span>Dejar de ver</span>
                                            <img src="assets/icons/chevron-up-fill.svg">
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="dropdown-container" [ngClass]="{'dropdown-active': dropdowns.finalEvent}">
                                    <div class="d-flex flex-column" style="gap: 12px;">
                                        <div class="d-flex flex-column" style="gap: 6px;">
                                            <b>Detalles</b>
                                            <div class="">{{finalEvent?.description}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="d-flex justify-content-end w-100" style="gap: 10px;">
                        <button class="btn btn-outline-primary" [disabled]="loading" (click)="ShowDropdowns()">
                            Ver plantilla completa
                        </button>
                        <button class="btn btn-primary" [disabled]="loading" (click)="UseStrategy()">
                            Utilizar plantilla
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

