.month-year {
    color: #587594;
    font-size: 1.75rem;
}
.control-icon {
    width: min-content;
    height: min-content;
}

.calendar-table {
    border-collapse: separate;
    border-spacing: 1rem;
}
.calendar-week {
    gap: 1rem;
}
.calendar-day {
    width: 140px;
    flex-grow: 1;
    height: 120px;
    flex-grow: 1;
    border: 1px solid #26D7A4;
    padding: .8rem;
}
.day-title-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: .1rem;
}
.day-title {
    font-size: 1rem;
    font-weight: 800;
    line-height: 24px;
}
.day-events {
    width: 100%;
    height: calc(100% - 24px - .1rem);
    overflow-y: auto;
    font-size: .8rem;

    .day-event:last-child {
        border-bottom: none;
    }
}
.day-event {
    text-align: center;
    width: 100%;
    padding-bottom: .4rem;
    border-bottom: 2px solid #587594;
}