<div class="calendar">
    <div class="d-flex justify-content-center align-items-center">
        <img class="control-icon clickeable" src="assets/icons/left.png" alt="left" (click)="PopulateMonth(previousMonth)">
        <div class="month-year">
            {{monthAndYear}}
        </div>
        <img class="control-icon clickeable" src="assets/icons/right.png" alt="left" (click)="PopulateMonth(nextMonth)">
    </div>

    <table class="calendar-table">
        <thead>
            <tr>
                <th class="text-center" *ngFor="let weekDay of weekDays">
                    {{weekDay.name}}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="calendar-week" *ngFor="let week of month">
                <td *ngFor="let weekDay of week">
                    <div class="calendar-day" *ngIf="weekDay.day">
                        <div class="day-title-row">
                            <span class="day-title">
                                {{FormatDay(weekDay.day)}}
                            </span>

                            <img class="clickeable" width="24" src="assets/icons/add-circle.png" alt="add" (click)="AddEvent(weekDay)">
                        </div>

                        <div class="day-events">

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="calendar-grid">
        <div class="calendar-weekdays">
            
        </div>
    </div>
</div>
