<div class="content">
    <div class="row-header">
        <div></div>
        <div class="title">
            Calendario
        </div>
        <div></div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="back-section">
            <img class="back-icon clickeable" src="assets/icons/back-arrow.png" alt="back-arrow" (click)="GoBack()">
        </div>

        <div class="event-date">
            {{formatedDate}}
        </div>

        <div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center w-100" style="gap: 24px;">
        <div class="d-flex align-items-center justify-content-between w-100" style="gap: 24px;">
            <div class="event-card" *ngFor="let event of events">
                <div class="d-flex align-items-center justify-content-between align-self-stretch">
                    <span class="text-primary text-uppercase">
                        {{strategy?.strategyGroup?.grade?.name}}°{{strategy?.strategyGroup?.group?.name}}
                    </span>

                    <div class="d-flex align-items-center" style="gap: 12px;">
                        <img class="clickeable" src="assets/icons/delete.svg" (click)="selectedEvent = event; deleteEventConfirmationModal.show()">
                    </div>
                </div>
                <div class="text-success">
                    Categoría
                </div>
                <div class="">
                    <span>{{event.name}}</span>
                </div>
                <div class="d-flex flex-column">
                    <label class="text-primary mb-1"><b>Instrucciones</b></label>
                    <span>{{event.instructions ? event.instructions : 'Sin instrucciones'}}</span>
                </div>
                <div class="d-flex flex-column" *ngIf="event.resources.length > 0">
                    <label class="text-primary mb-1"><b>Recursos</b></label>
                    <div class="flex-resources ">
                        <div class="resource clickeable" *ngFor="let file of event.resources" (click)="DownloadFile(file)">
                            <i class="zmdi zmdi-file zmdi-hc-2x text-primary mr-3"></i> {{file.file.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-success" [disabled]="ThatDayHasNotPassed() == false" (click)="GoToCreateEventOrProduct()">
            Agregar evento a un producto parcial o actividad
        </button>

        <button class="btn btn-primary" [disabled]="ThatDayHasNotPassed() == false" (click)="GoToCreateActivity()">
            Agregar actividad
        </button>
    </div>
</div>

<div class="modal fade" bsModal #deleteEventConfirmationModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="deleteEventConfirmationModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body finish-modal-content">
                <div class="d-flex flex-column" style="gap: 12px;">
                    <div class="">
                        ¿Está seguro/a de que desea eliminar el evento "{{selectedEvent?.name}}"?
                    </div>
                    <div class="title text-danger">
                        Al eliminarlo ya no podrá recuperarlo
                    </div>
                    <div class="d-flex align-items-center justify-content-end w-100" style="gap: 48px;">
                        <button class="btn btn-secondary w-50" [disabled]="loading.deleting" (click)="deleteEventConfirmationModal.hide()">
                            No, cancelar
                        </button>
                        <button class="btn btn-primary w-50" [disabled]="loading.deleting" (click)="DeleteEvent()">
                            Si, eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>