<div class="content">
    <div class="row-header">
        <div></div>
        <div class="title">
            Calendario
        </div>
        <div></div>
    </div>

    <div class="d-flex justify-content-between align-items-end mb-4">
        <div class="back-section">
            <img class="back-icon clickeable" src="assets/icons/back-arrow.png" alt="back-arrow" (click)="GoBack()">
        </div>

        <div class="event-date">
            {{formatedDate}}
        </div>

        <div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="subtitle">
                Selecciona tu estrategia
            </div>
        
            <div class="flex-row">
                <div class="subtitle my-auto">
                    Inicio
                </div>
                <div class="input-container w-75 my-auto">
                    <input class="form-control no-icon" type="text" placeholder="Inicio">
                </div>
            </div>
            <div class="flex-row">
                <div class="subtitle my-auto">
                    Desarrollo
                </div>
                <div class="input-container w-75 my-auto">
                    <input class="form-control no-icon" type="text" placeholder="Desarrollo">
                </div>
            </div>
            <div class="flex-row">
                <div class="subtitle my-auto">
                    Cierre
                </div>
                <div class="input-container w-75 my-auto">
                    <input class="form-control no-icon" type="text" placeholder="Cierre">
                </div>
            </div>

            <div class="subtitle">
                Asigna una actividad para ese día
            </div>

            <div class="input-container">
                <ng-select
                    class="form-control with-border"
                    [items]="activities"
                    bindLabel="name"
                    [multiple]="false"
                    placeholder="Selecciona tu actividad">
                </ng-select>
            </div>

            <div class="subtitle">
                Asigna los recursos a utilizar
            </div>

            <div class="flex-files-container">
                <div class="flex-files">
                    <div class="flex-icons">
                        <img src="assets/icons/video-recorder.png" alt="video">
                        <img src="assets/icons/gallery.png" alt="video">
                        <img src="assets/icons/book-closed-green.png" alt="video">
                    </div>
                    <button class="btn btn-success btn-block">
                        Adjuntar algún recurso
                    </button>
                </div>

                <div class="flex-files mr-0">
                    <div class="flex-icons">
                        <img src="assets/icons/library.png" alt="video">
                        <img src="assets/icons/movie.png" alt="video">
                        <img src="assets/icons/microscope.png" alt="video">
                    </div>
                    <button class="btn btn-success btn-block">
                        Adjuntar de la biblioteca
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
