<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <div class="profileImg">
      <ion-button (click)="ShowChangeProfileImageOptions()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <img [src]="loggedUser?.profileImage | jarabeImage:'medium':api" onerror="this.src='../../../assets/img/avatar.jpg'">
    </div>

    <ng-container *ngIf="loggedUser!=null">
        <ion-list text-wrap>
          <ion-item no-lines>
            <ion-label>Usuario</ion-label>
            <ion-text>
              <strong>
                {{loggedUser?.username}}
              </strong>
            </ion-text>
          </ion-item>
    
          <!-- <ion-item no-lines>
            <ion-label>Nombre</ion-label>
            <ion-text>
              <strong>
                {{loggedUser?.teacher.middleName + ' ' + loggedUser?.teacher.lastName + ' ' + loggedUser?.teacher.name }}
              </strong>
            </ion-text>
          </ion-item> -->
    
          <ion-item no-lines *ngIf="loggedUser?.phone">
            <ion-label>Teléfono:</ion-label>
            <ion-text>
              <strong>
                {{loggedUser?.phone ? loggedUser?.phone :'---'}}
              </strong>
            </ion-text>
          </ion-item>
    
          <ion-item no-lines>
            <ion-label>Correo:</ion-label>
            <ion-text>
              <strong>
                {{loggedUser?.email}}
              </strong>
            </ion-text>
          </ion-item>

        </ion-list>
      </ng-container>
   
    <ion-grid text-center>
      <ion-row>
        <ion-col>
          <ion-button (click)="goToSettings()">Ajustes</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>