<div class="products-slider-container">
    <div class="d-flex justify-content-center align-items-center">
        <img src="assets/icons/arrow-long-up.png" alt="back">
    </div>
    <div class="d-flex flex-column justify-content-between flex-grow-1">
        <div class="product" *ngFor="let product of parcialProducts">
            <img [src]="product.url" alt="">
            <div class="product-name">
                {{product.name}}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <img src="assets/icons/arrow-long-down.png" alt="back">
    </div>
</div>
