<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" [text]="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label>Contraseña anterior</ion-label>
          <ion-input placeholder="Contraseña"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-label>Nueva contraseña</ion-label>
            <ion-input placeholder="Contraseña"></ion-input>
          </ion-col>
        </ion-row>

      <ion-row>
          <ion-col>
            <ion-label>Confirmación de Nueva contraseña</ion-label>
            <ion-input placeholder="Confirmar Contraseña"></ion-input>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>