<div class="content">
    <div class="row-header">
    </div>

    <ng-container *ngIf="!loading; else bigLoading">
        <div [ngSwitch]="templateId">
            <div *ngSwitchCase="1">
                <app-template-based-on-form></app-template-based-on-form>
            </div>
            <div *ngSwitchCase="2">
                <app-template-gamification-form></app-template-gamification-form>
            </div>
            <div *ngSwitchCase="3">
                <app-template-experience-form></app-template-experience-form>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #bigLoading>
    <div class="d-flex align-items-center justify-content-center">
        <i class="zmdi zmdi-spinner zmdi-hc-5x zmdi-hc-spin"></i>
    </div>
</ng-template>
