
<div class="connect-label">o conectate con...<div>

  <ion-button *ngIf="isApple"  color="light"  expand="block" (click)="AppleUserLogin()">
    <ion-icon slot="start" name="logo-apple"></ion-icon> Apple
  </ion-button>
  <ion-button color="light"  expand="block" (click)="FacebookUserLogin()">
    <ion-icon slot="start" name="logo-facebook"></ion-icon> Facebook
  </ion-button>
  <!-- <ion-button color="light"  expand="block" (click)="GooglePlusUserLogin()">
    <ion-icon slot="start" name="logo-google"></ion-icon> Google
  </ion-button> -->