
<div class="connect-label">Tambien puedes:<div>

  <ion-button *ngIf="isApple"  color="light"  expand="block" (click)="AppleUserLogin()">
    <ion-icon slot="start" name="logo-apple"></ion-icon> Iniciar sesión con Apple
  </ion-button>
  <ion-button color="light"  expand="block" (click)="FacebookUserLogin()">
    <ion-icon slot="start" name="logo-facebook"></ion-icon> Iniciar sesión con Facebook
  </ion-button>
  <!-- <ion-button color="light"  expand="block" (click)="GooglePlusUserLogin()">
    <ion-icon slot="start" name="logo-google"></ion-icon> Iniciar sesión con Google
  </ion-button> -->