<div class="content">
    <div class="mt-5">
        <div [formGroup]="schoolUserForm" class="profile-form">
            <div class="w-100">
                <div class="input-container">
                    <div class="input-icon-container text-center">
                        <img src="assets/icons/user.png">
                    </div>
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="name" (keyup.enter)="SaveUserData()">
                </div>
                <app-control-messages [control]="schoolUserForm.get('name')"></app-control-messages>
            </div>
            <div class="w-100">
                <div class="input-container">
                    <div class="input-icon-container text-center">
                        <img src="assets/icons/mail.png">
                    </div>
                    <input class="form-control" type="text" placeholder="Correo" formControlName="email" (keyup.enter)="SaveUserData()">
                </div>
                <app-control-messages [control]="schoolUserForm.get('email')"></app-control-messages>
            </div>
            <ng-container [formGroup]="userDataForm">
                <div class="w-100">
                    <div class="input-container">
                        <div class="input-icon-container text-center">
                            <img src="assets/icons/users-group.png">
                        </div>
                        <input class="form-control" type="text" placeholder="Puesto de trabajo" formControlName="workTitle" (keyup.enter)="SaveUserData()">
                    </div>
                    <app-control-messages [control]="userDataForm.get('workTitle')"></app-control-messages>
                </div>
                <div class="w-100">
                    <div class="input-container">
                        <div class="input-icon-container text-center">
                            <img src="assets/icons/phone.png">
                        </div>
                        <input class="form-control" type="text" placeholder="Teléfono" formControlName="phone" (keyup.enter)="SaveUserData()">
                    </div>
                    <app-control-messages [control]="userDataForm.get('phone')"></app-control-messages>
                </div>
            </ng-container>
            <ng-container [formGroup]="schoolForm">
                <div class="w-100">
                    <div class="input-container">
                        <div class="input-icon-container text-center">
                            <img src="assets/icons/school.png">
                        </div>
                        <input class="form-control" type="text" placeholder="Nombre de la escuela" formControlName="name" (keyup.enter)="SaveUserData()">
                    </div>
                    <app-control-messages [control]="schoolForm.get('name')"></app-control-messages>
                </div>
                <div class="w-100">
                    <div class="input-container">
                        <div class="input-icon-container text-center">
                            <img src="assets/icons/location.png">
                        </div>
                        <input class="form-control" type="text" placeholder="Dirección de la escuela" formControlName="address" (keyup.enter)="SaveUserData()">
                    </div>
                    <app-control-messages [control]="schoolForm.get('address')"></app-control-messages>
                </div>
                <div class="w-100">
                    <div class="input-container">
                        <div class="input-icon-container text-center">
                            <img src="assets/icons/user-phone.png">
                        </div>
                        <input class="form-control" type="text" placeholder="Teléfono de la escuela" formControlName="phone" (keyup.enter)="SaveUserData()">
                    </div>
                    <app-control-messages [control]="schoolForm.get('phone')"></app-control-messages>
                </div>
            </ng-container>
            <div class="d-flex justify-content-between w-100 mt-3">
                <button class="btn btn-outline-primary" [disabled]="loading.updating" (click)="SetForm()">
                Descartar
                    </button>
                <button class="btn btn-primary" [disabled]="loading.updating" (click)="SaveUserData()">
                        Guardar
                    </button>
            </div>
        </div>
    </div>