<div class="content">
    <div [ngSwitch]="step">
        <div *ngSwitchCase="1">
            <div class="title">
                Es fácil registrar a tus alumnos
            </div>
        
            <div class="text">
                Simplemente baja nuestra plantilla de Excel, llénala y súbela de nuevo
            </div>
        
            <div class="steps">
                <div class="d-flex">
                    <div class="radio-button checked"></div>
                    <div class="instructions">
                        <div class="step">1) Descarga el formato de Excel</div>
                        <div class="mb-5">
                            <img class="img-template" src="assets/icons/excel.png" alt="CSV file">
                            <a class="link" (click)="DownloadTemplate()">Descargar</a>
                        </div>
                        <div class="text">Si tienes más de un nivel, repetir el proceso</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="radio-button" [ngClass]="{'checked': instructionsStep >= 2}"></div>
                    <div class="instructions">
                        <div class="step">2) Llena la plantilla, te explicamos cómo.</div>
                        <div class="link">
                            <div class="title-fake-line mb-2"></div>
                            <div class="fake-line-lg mb-2"></div>
                            <div class="fake-line-sm mb-2"></div>
                            <div class="fake-line-md last-line mb-2"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="radio-button" [ngClass]="{'checked': instructionsStep >= 3}"></div>
                    <div class="instructions">
                        <div class="step">3) Sube la plantilla con los datos de tus alumnos</div>
                        <input class="d-none" #studentsCsv type="file" accept=".csv" (change)="OnFileChanged($event)">
                        <div class="upload-container clickeable" (click)="studentsCsv.click()">
                            <img src="assets/icons/upload.png" alt="CSV file">
                            Subir excel de alumnos
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div class="title">
                ¡Ya casi estamos listos para empezar!
            </div>
    
            <div class="text">
                Estos son los grados y grupos que detectamos en tu archivo de excel, revisa que todo esté en orden para poder finalizar con tu registro.
            </div>
            <div class="text">
                Primaria
            </div>
            <app-grades-groups-view [students]="students"></app-grades-groups-view>
        </div>
    </div>

    <div class="btns-group mb-5">
        <button class="btn btn-outline-primary" [disabled]="loading.uploading" (click)="Cancel()">
            Cancelar
        </button>
        <button class="btn btn-primary" [disabled]="loading.uploading || !areStudentsValid" (click)="Continue()">
            Continuar
        </button>
    </div>
</div>

<div class="modal fade" bsModal #studentsAlertModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
    tabindex="-1" role="dialog" aria-labelledby="studentsAlertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text text-center">
                    Ha finalizado por ahora tu registro de grupos, podrás agregar grupos más tarde
                </div>
                <div class="text-center">
                    <img src="assets/img/teacher-celebrating.png" alt="finished">
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-primary modal-btn"
                (click)="studentsAlertModal.hide(); nav.GoToUserRoute('mis-estudiantes')">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>
