<div class="modal-content" >
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white pull-left ">Forma de Pago</h4>
      <button type="button" class="close text-white pull-right" aria-label="Close" (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <div class="modal-body pb-1">
      <ng-container *ngIf="selectedCard != -1">
          <ul class="list-group p-0" *ngIf="listProducts.length > 0">
            <li class="list-group-item p-0" *ngFor="let lP of listProducts; let i = index;">
              <div class="row mb-2">
                <div class="col-4 p-0 d-flex justify-content-center align-items-center">
                    <img class="card-img-top imgUser" src="{{lP.img}}" onerror="this.src='assets/fondo/user.png'">
                </div>
                <div class="col-8 p-0">
                    <!-- <i class="zmdi zmdi-close float-right color-red cP" (click)="listProducts.splice(i,1);"></i> -->
                  <h4 class="mb-1"><small><strong>{{lP?.name}}</strong></small></h4>
                  <h5 class="mb-1"><small>Cantidad: {{lP?.quantity}}</small></h5>
                  <h5 class="mb-1 text-muted"><small>{{lP?.price | currency}}</small></h5>
                  <hr class="mt-0 mb-1">
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row mb-2">
                <div class="col-4 p-0 d-flex justify-content-center align-items-center"></div>
                <div class="col-8 p-0">
                  <h4 class="mb-1"><small><strong>Total: {{getTotal() | currency}}</strong></small></h4>
                  <hr class="mt-0 mb-1">
                </div>
              </div>
            </li>
          </ul>
          <div class="form-group mt-3">
            <label>Tarjeta/s</label>
            <select name="opc" id="opdId" class="form-control" [(ngModel)]="selectedCard">
              <option *ngFor="let c of cards" [value]="c.id">{{c?.brand | titlecase}} **** **** **** {{c?.last4}}</option>
              <option [value]="-1">Agregar Tarjeta</option>
            </select>
          </div>
          <div class="form-group mt-2">
            <label>Metodo de pago</label>
            <select name="opc" id="opdId" class="form-control" [(ngModel)]="numMeses">
              <option [value]="1">Un solo pago</option>
              <option [value]="3">3 Meses</option>
              <option [value]="6">6 Meses</option>
              <option [value]="9">9 Meses</option>
              <option [value]="12">12 Meses</option>
            </select>
          </div>
      </ng-container>
      <ng-container *ngIf="selectedCard == -1">
          <div class="form-row form-group">
              <label>Nombre del Tarjetahabiente</label>
              <input class="form-control" type="text" size="20" name="name" [(ngModel)]="data.card.name">
            </div>
            <div class="form-row form-group">
              <label>Número de tarjeta de crédito</label>
              <input class="form-control" type="text" size="20" name="number" [(ngModel)]="data.card.number">
            </div>
            <div class="form-row form-group">
              <label>CVC</label>
              <input class="form-control" type="text" size="4" name="cvc" [(ngModel)]="data.card.cvc">
            </div>
            <div class="form-row form-group">
              <p>
                <label>Fecha de expiración (MM/AAAA)</label><br>
              </p>
              <div class="row ml-3">
                <div class="col-5">
                  <input class="form-control" type="text" size="2" name="exp_month" [(ngModel)]="data.card.exp_month">
                </div>
                <div class="col-1">/</div>
                <div class="col-5">
                  <input class="form-control" type="text" size="4" name="exp_year" [(ngModel)]="data.card.exp_year">
                </div>
              </div>
            </div>
      </ng-container>
    </div>
  
    <div class="modal-footer">
      <div class="row mt-4">
        <div class="col-6" *ngIf="selectedCard == -1">
          <button type="button" class="btn btn-primary float-left" (click)="selectedCard = defCard.id"> Atras </button>
        </div>
        <div class="col-6">
          <button *ngIf="selectedCard != -1" type="button" class="btn btn-primary float-left" (click)="buy()" [disabled]="selectedCard == -1"> Comprar </button>
          <button *ngIf="selectedCard == -1" type="button" class="btn btn-primary float-left" (click)="createTokoenCard()" [disabled]="getStatusData()"> Agregar </button>
        </div>
      </div>
    </div>
  </div>