<div class="content">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="notification" *ngFor="let not of notifications">
            {{not.name}}
            <img class="clickeable ml-3" src="assets/icons/close.png" alt="close.png">
        </div>
    </div>

    <div class="dashboard-content">
        <div class="dashboard-section left mr-2">
            <app-week-calendar class="mb-3"></app-week-calendar>
            <div class="dashboard-content">
                <div class="dashboard-section left mr-2">
                    <div class="d-flex">
                        <div class="card-section flex-grow-1 mr-2 mb-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="mr-2" src="assets/icons/play.png" alt="play.png">
                                <div class="section-title-2 text-success ml-2">Estrategias activas</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <button class="btn btn-outline-success px-5">
                                    Ver todas
                                </button>
                            </div>
                        </div>
                        <div class="card-section flex-grow-1 ml-2 mb-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="mr-2" src="assets/icons/text-check.png" alt="text-check.png">
                                <div class="section-title-2 ml-2">Estrategias terminadas</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <button class="btn btn-outline-primary px-5">
                                    Ver todas
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">

                    </div>
                </div>
                <div class="dashboard-section right ml-2">
                    <div class="card-section mr-2 mb-3">
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="mr-2" src="assets/icons/cube.png" alt="cube.png">
                            <div class="section-title ml-2">Productos</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <button class="btn btn-outline-primary px-5">
                                Ver todos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-section right ml-2">
            <app-next-due-dates class="mb-3"></app-next-due-dates>
            <app-messages class="mb-3"></app-messages>
            <div class="card-section mr-2 mb-3">
                <div class="d-flex align-items-center justify-content-center">
                    <img class="mr-2" src="assets/icons/star-rounded.png" alt="star.png">
                    <div class="section-title ml-2">Mis favoritos</div>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <button class="btn btn-outline-primary px-5">
                        Ver
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
