
<ion-menu [content]="mycontent">
  <ion-header>
      <ion-toolbar>
        <ion-title> Menu </ion-title>
      </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
        <button ion-item (click)="abrirPagina( login )" *ngIf="!authService.testkn()">
          Iniciar Sesión
        </button> 
       <button ion-item (click)="abrirPagina( perfil )" *ngIf="authService.testkn()">
         Perfil
       </button>
       <button ion-item (click)="abrirPagina( adm )" *ngIf="authService.testkn()">
         Admin
       </button>
       <button ion-item (click)="cerrar(pagina)" *ngIf="authService.testkn()">
         Cerrar Sesión
       </button>

     </ion-list>
</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #mycontent></ion-nav>
