@import "../../theme/variables.scss"; 
page-signup {
    .white{
        color:white !important;
    }
    .center-title{
        text-align: center;
       padding: 30px !important;
       font-size: 2em;
       font-weight: bold;
       img{
           margin: 10px;
           width: 150px;
           height: 150px;
           object-fit: cover;
       }
    }
    ion-content{
        // background-image: url("/assets/imgs/fondo_login.png");
        &.debug{
            background-color: darken(color($colors,"primary"),50) !important;
        }
        background-color: color($colors,"primary") !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        ion-item{
            margin: 10px !important;
            width: auto !important;
        }
        .m-btn{
            margin: 10px !important;
        }
    }
    .scroll-content{
      margin-bottom: 0px !important;
      padding-bottom: 0px !important;
    }
}
