<ion-content class="background-primary">

    <div class="welcome-screen">
        <h3>JarabeTemplate</h3>
        <img src="/assets/img/logo.png">
        <h3>Recuperar Contraseña</h3>
    </div>

    <ion-slides #slides [options]="{onlyExternal: false}">

        <ion-slide>

            <ion-card class="login-card">
                <ion-card-content>

                    <ion-row>
                        <ion-col size="12">
                            <ion-label position="floating">Ingresar email</ion-label>
                            <ion-input placeholder="Correo electrónico" type="email" [(ngModel)]="email"></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-button block color="secondary" (click)="sendEmail()" [disabled]=" email == '' ">Continuar</ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <div color="secondary" class="login-label" (click)="goToUrl('/login');">Volver</div>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="login-card">
                <ion-card-content>

                    <ion-row>
                        <ion-col size="12">
                            <ion-label position="floating">Ingresar PIN</ion-label>
                            <ion-input type="text" placeholder="0000" [(ngModel)]="pin" name="pin"></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-button block color="secondary" (click)="validatePIN()" [disabled]=" pin == '' ">Continuar</ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <div color="secondary" class="login-label" (click)="goBack();">Volver</div>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="login-card">
                <ion-card-content>

                    <ion-row>
                        <ion-col size="12">
                            <ion-label position="floating">Ingresa tu nueva contraseña</ion-label>
                            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-button block color="secondary" (click)="setNewPassword()" [disabled]=" password == '' ">Continuar</ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <div color="secondary" class="login-label" (click)="goBack();">Volver</div>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>

        </ion-slide>

    </ion-slides>

</ion-content>