.title {
    margin: 1rem 0;
}

.landing-image {
    margin: 38px 0;
    max-height: 150px;
}

.header-container {
    max-width: 500px;
    display: inline-block;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 500;
    color: #758CA6;
    margin-bottom: 50px;
}

.btn {
    font-size: 2.25rem;
    padding: 25px 30px;
    font-weight: 500;
}

.btns-container {
    width: 100%;
    max-width: 500px;
    display: inline-block;

    button {
        min-width: 236px;
    }
}