.title-img {
    margin-top: 96px;
    margin-bottom: 38px;
}

.header-container {
    max-width: 500px;
    display: inline-block;
}

.subtitle {
    font-size: 2.25rem;
    font-weight: 500;
    color: #758CA6;
    margin-bottom: 50px;
}

.btn {
    font-size: 2.25rem;
    padding: 25px 30px;
    font-weight: 500;
}

.btns-container {
    width: 100%;
    max-width: 500px;
    display: inline-block;
}