<div class="full-page">
    <div class="d-flex h-100">
        <img class="h-100" src="assets/img/landing_page_side.png" alt="Side img">
        <div class="w-100">
            <div class="row m-0">
                <div class="col-12 text-center title-img">
                    <div>
                        <img class="" src="assets/img/project_name.png" alt="Bluetopia">
                    </div>
                    
                    <div class="header-container">
                        <div class="title">
                            ¡bienvenido!
                        </div>
                        <div class="text">
                            Somos una herramienta para creación de estrategías escolares
                        </div>
                    </div>
                    <div>
                        <img class="" style="margin: 38px 0;" src="assets/img/landing_page_img.png" alt="Image">
                    </div>
                    <div class="subtitle">
                        ¿Cómo te gustaría acceder?
                    </div>
                    <div class="btns-container">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-outline-primary">
                                Escuela
                            </button>
                            <button class="btn btn-outline-success">
                                Maestro
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
