.title-img {
    margin-top: 96px;
    margin-bottom: 38px;
}

.header-container {
    max-width: 500px;
    display: inline-block;
}

.title {
    margin-bottom: 12px;
    font-size: 3rem;
    color: #2369B5;
    line-height: 60px;
    font-weight: 700;
    text-transform: capitalize;
}

.subtitle {
    font-size: 2.25rem;
    font-weight: 500;
    color: #758CA6;
    margin-bottom: 50px;
}

.text {
    font-size: 1.5rem;
    line-height: 30px;
    color: #758CA6;
}

.btn {
    font-size: 2.25rem;
    padding: 25px 30px;
    font-weight: 500;
}

.btns-container {
    width: 100%;
    max-width: 500px;
    display: inline-block;
}