.title {
    margin: 1rem 0;
}

.landing-image {
    margin: 38px 0;
    max-height: 150px;
}

.header-container {
    max-width: 500px;
    display: inline-block;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 500;
    color: #758CA6;
    margin-bottom: 50px;
}

.form-container {
    display: inline-block;
    max-width: 500px;
    width: 100%;
}
